// display/positioning
.left,
.floatleft
  float: left

.right,
.floatright
  float: right

.clear,
.clearer
  clear: both

.noclear
  clear: none

.snapleft
  left: 0

.snapright
  right: 0

.snaptop
  top: 0

.snapbottom
  bottom: 0

.snapvert
  top: 0
  bottom: 0

.snaphoriz
  left: 0
  right: 0

.snapall
  top: 0
  left: 0
  right: 0
  bottom: 0

.topleft
  top: 0
  left: 0

.topright
  top: 0
  right: 0

.bottomleft
  bottom: 0
  left: 0

.bottomright
  bottom: 0
  right: 0

.clearer
  display: block
  font-size: 0
  line-height: 0
  height: 0

.clearfix
  &:before
    content: ""
    display: table
  &:after
    content: ""
    display: table
    clear: both
  *zoom: 1

.absolute
  position: absolute

.relative
  position: relative

.fixed
  position: fixed

.center,
.centered,
.aligncenter
  display: block
  margin:
    left: auto
    right: auto

.hidden
  display: none !important

.visuallyhidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px
  &.focusable
    &:active, &:focus
      clip: auto
      height: auto
      margin: 0
      overflow: visible
      position: static
      width: auto

.invisible
  visibility: hidden !important

.secret
  opacity: 0

.block
  display: block

.inline
  display: inline

.in-block
  display: inline-block

.in-table
  display: inline-table
  vertical-align: middle

.table
  display: table

.none
  display: none


// text align/styles
.text-left
  text-align: left

.text-right
  text-align: right

.text-center
  text-align: center

.small
  font-size: 0.9em

.smaller
  font-size: 0.8em

.smallest
  font-size: 0.7em

.big
  font-size: 1.2em

.bigger
  font-size: 1.3em

.biggest
  font-size: 1.4em

.silent
  display: none

.quiet,
.shh
  color: #999
  font-style: italic
  a
    color: #999
    font-style: italic

.loud
  color: #000
  a
    color: #000

.highlight
  background: #ff0
  a
    background: #ff0

.nowrap
  white-space: nowrap

// lists
.naked
  list-style: none
  -webkit-padding-start: 0
  li
    list-style: none

// notification/status
.notification
  position: absolute
  z-index: 9999
  top: 20px
  right: 20px
  width: 200px
  height: auto
  text-align: center
  border-radius: 8px
  padding: 10px
  border: 1px solid
  cursor: pointer
  box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.2)

  h1
    font:
      family: "Karla"
      size: 14pt
      weight: 700
    text-transform: uppercase
    margin-bottom: 10px

  p
    margin: 0px auto 10px
    font-size: 12pt

  button
    margin: 0px 5px
    border-width: 0px
    padding: 10px
    border-radius: 10px
    font-size: 10px
    text-transform: uppercase

    &:hover
      text-decoration: underline

    &:active
      box-shadow: inset 1px 1px 3px 2px rgba(0,0,0,0.2)

.yay
  background-color: #bada55
  border-color: #68a83d
  color: #68a83d

  button
    background-color: #68a83d
    color: #bada55

.notify
  background-color: #8fbdf2
  border-color: #256bba
  color: #256bba

  button
    background-color: #256bba
    color: #8fbdf2

.warn
  background-color: #f7ee65
  border-color: #f5be18
  color: #e4ad07

  button
    background-color: #f5be18
    color: #f7ee65

.error
  background-color: #ff9e9e
  border-color: #b31717
  color: #b31717

  button
    background-color: #b31717
    color: #ff9e9e

.tools
  background-color: #c6c6c6
  border: none
  color: #7f7f7f
  padding: 10px

// effects
.rounded
  border-radius: 7px
  padding: 7px

.dropshadow
  box-shadow: 2px 2px 3px rgba(0,0,0, 0.5)

.overlay
  position: fixed
  bottom: 0
  top: 0
  left: 0
  right: 0
  z-index: 990

.ir
  display: block
  border: 0
  text-indent: -999em
  overflow: hidden
  background-color: transparent
  background-repeat: no-repeat
  text-align: left
  direction: ltr
  *line-height: 0
  br
    display: none

// css3 widgets
.target-link
  cursor: pointer

.polaroid
  padding: 7px 7px 30px
  background-color: white

  a,
  img
    border: none
    padding: 0
    margin: 0

  &::after
    display: block
    content: attr(data-title)
    height: 16px
    margin: 0
    padding: 0
    font:
      family: "Karla"
      size: 16px
      weight: 700
    text:
      align: center
      transform: uppercase
    line-height: 16px
    vertical-align: middle
    color: #666

    &.notitle
      padding: 7px

      &::after
        display: none
        content: none

.css-accordion
  position: relative

  a
    display: block
    margin: 0
    padding: 2px
    width: 100%

  .fold
    margin: 0
    -webkit-transition-duration: 0.4s
    -webkit-transition-property: height, opacity, visibility
    height: 0px
    opacity: 0
    visibility: hidden

    p
      display: none !important

    &:target,
    &.active
      height: 50px
      opacity: 1
      visibility: visible

      p
        display: block !important

@-webkit-keyframes rotate
  from
    -webkit-transform: rotate(0deg)
  to
    -webkit-transform: rotate(360deg)

span
  &.loading
    &.spinner
      display: inline-block
      vertical-align: middle
      padding: 0
      -webkit-animation:
        name: rotate
        duration: 0.5s
        timing-function: linear
        iteration-count: infinite