@media all and (max-width: 480px)
  p
    margin: 8px 0
    padding: 3px 0
  #main
    #masthead
      height: 200px
      #oflogo
        max-width: 98%
        height: auto
        left: 1%
        bottom: 55px
      #title
        display: none
      #how-it-works-button
        height: 50px
        width: 95%
        //min-width: 201px
        //max-width: 250px
        bottom: 5%
        right: 2.5%
        border-radius: 5px

        a
          margin: 13px 3px 0 0
          font-size: 24px

    #content section
      width: 100%
      height: auto
      margin: 0
      .project-card
        width: 100px
        img
          width: 100px
          height: 88px
        .project-icon::after
          height: 15px
          line-height: 15px
          font-size: 15px
      .activity-table
        height: auto
        margin: 15px 0 0 15px
        .activity-row
          height: 100
          .activity-cell
            width: 100
            height: 90
  #footer-container
    display: none

@media all and (min-width: 480px)
  #main
    #masthead
      border-radius: none
      height: 270px
      #oflogo
        max-width: 98%
        height: auto
        left: 1%
        top: 8%
        bottom: none

      #title
        font: 21pt "Satisfy",cursive
        line-height: 18pt
        width: 44%
        text-align: right
        bottom: 4%
        left: 2%
      #how-it-works-button
        border-top: none
        height: 80px
        width: 44%
        right: 4%
        bottom: 4%
        border-radius: 9px
        a
          margin: 25px 3px 0 0
          font-size: 24px

        &::before
          display: none
          content: none

    #content section
      width: 100%
      height: auto
      .project-card
        width: 140px
        img
          width: 140px
          height: 120px
        .project-icon::after
          height: 18px
          line-height: 18px
          font-size: 18px
      .activity-table
        height: 500px
        margin-bottom: 30px
        .activity-row
          height: 100
          .activity-cell
            width: 100
            height: 90

@media all and (max-width: 768px)
  p
    margin: 12px 0
  #main section
    width: 100%
    .section-wrap
      overflow: hidden
      padding-bottom: 10px
      #project-cards
        width: 1000px

@media all and (min-width: 768px)
  #main
    #masthead
      #oflogo
        top: auto
        bottom: 25%
        left: 5%
      #title
        font: 28pt "Satisfy", cursive
      #how-it-works-button
        border-radius: 9px
    #content section
      width: 45%
      margin: 0px 2.5% 300px

@media all and (min-width: 1140px)
  #main #masthead
    #oflogo
      bottom: 25%
      left: 5%
    #title
      font: 32pt "Satisfy", cursive

@media only screen and (min-width: 480px)
  nav
    a
      margin: 0 1.7%
      margin-bottom: 0
    li
      &:first-child a
        margin-left: 0
      &:last-child a
        margin-right: 0
    ul li
      display: inline
  .oldie a
    margin: 0 0.7%

@media only screen and (min-width: 768px)
  #title
    float: left
  nav
    float: left
    margin-left: 1%
  #main
    article
      float: left
      width: 57%
    aside
      float: right
      width: 28%

@media only screen and (min-width: 1140px)
  .wrapper
    width: 100%
    margin: 0 auto