<h2>Custom URLs!</h2>
<a id="a-new-custom-url-dialog" href="#new-custom-url-dialog">+ Add New Custom Url</a>
<div class="content">
    <table id="bbq-custom-url-table" class="bbq-datatable">
        <thead>
            <tr>
                <th>Slug</th>
                <th>Target</th>
            </tr>
        </thead>
        <tbody>
            {% for custom_url in custom_urls %}
            <tr>
                <td>{{ custom_url.slug }}</td>
                <td>{{ custom_url.target }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div id="new-custom-url-dialog" class="pre-modal" style="opacity: 0;">
    <div class="bbq-dialog-content">
        <form id="new-custom-url-frm">
            <p>
                <label for="new-custom-url-slug-input">Slug:</label>
                <input id="new-custom-url-slug-input" type="text" name="slug">
            </p>
            <p>
                <label for="new-custom-url-target-input">Target:</label>
                <select id="new-custom-url-target-input" name="target">
                    <option value="" selected="selected">CHOOSE A TARGET:</option>
                    <option disabled="disabled">PROJECTS:</option>
                    {% for project in projects %}
                    <option value="{{ encrypt(project.key.urlsafe()) }}">&nbsp;&nbsp;&nbsp;&nbsp;{{ project.name }}</option>
                    {% else %}
                    <option disabled="disabled">...no projects</option>
                    {% endfor %}
                    <option disabled="disabled">USERS:</option>
                    {% for user in users %}
                    <option value="{{ encrypt(user.key.urlsafe()) }}">&nbsp;&nbsp;&nbsp;&nbsp;{{ user.username }}</option>
                    {% else %}
                    <option disabled="disabled">...no users</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <button id="save-new-custom-url-btn" class="save-new-dialog" type="button">Yeah, add that!</button>
                <button id="cancel-new-custom-url-btn" class="cancel-new-dialog" type="button">Never mind.</button>
            </p>
        </form>
    </div>
</div>
