<h2>Proposals!</h2>
<a id="a-new-proposal-dialog" href="#new-proposal-dialog">+ Add New Proposal</a>
<div class="content">
    <table id="bbq-proposal-table" class="bbq-datatable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Summary</th>
                <th>Owners</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            {% for proposal in proposals %}
            <tr>
                <td>{{ proposal.name }}</td>
                <td>{{ proposal.status }}</td>
                <td>{{ proposal.summary }}</td>
                <td>
                    {% for owner in proposal.owners %}
                        {{ owner.id() }}, &nbsp;
                    {% endfor %}
                </td>
                <td>{{ proposal.category.id() }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div id="new-proposal-dialog" class="pre-modal" style="opacity: 0;">
    <div class="bbq-dialog-content">
        <form id="new-proposal-frm">
            <p>
                <label for="new-proposal-name-input">Name:</label>
                <input type="text" id="new-proposal-name-input" name="name">
            </p>
            <p>
                <label for="new-proposal-url-input">URL Slug:</label>
                <input type="text" id="new-proposal-url-input" name="url">
            </p>
            <p>
                <label for="new-proposal-summary-input">Summary:</label>
                <input type="text" id="new-proposal-summary-input" name="summary">
            </p>
            <p>
                <label for="new-proposal-category-input">category:</label>
                <select id="new-proposal-category-input" name="category">
                    {% for category in categories %}
                    <option value="{{ category.key.urlsafe() }}">{{ category.name }}</option>
                    {% else %}
                    <option value="">Add a category first...</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <label for="new-proposal-status-input">status:</label>
                <input type="text" id="new-proposal-status-input" name="status">
            </p>
            <p>
                <label for="new-proposal-pitch-input">pitch:</label>
                <input type="text" id="new-proposal-pitch-input" name="pitch">
            </p>
            <p>
                <label for="new-proposal-tech-input">tech:</label>
                <input type="text" id="new-proposal-tech-input" name="tech">
            </p>
            <p>
                <label for="new-proposal-keywords-input">keywords:</label>
                <input type="text" id="new-proposal-keywords-input" name="keywords">
            </p>
            <p>
                <label for="new-proposal-creator-input">creator:</label>
                <select id="new-proposal-creator-input" name="category">
                    {% for user in users %}
                    <option value="{{ user.key.urlsafe() }}">{{ user.username }}</option>
                    {% else %}
                    <option value="">Add some users first...</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <button id="save-new-proposal-btn" class="save-new-dialog" type="button">Yeah, add that!</button>
                <button id="cancel-new-proposal-btn" class="cancel-new-dialog" type="button">Never mind.</button>
            </p>
        </form>
    </div>
</div>
