{% extends "layout/security.html" %}

{% block content %}

    {% block loginsplash %}
    <div id='placeholder' class="rounded-big center-all">

        <!-- placeholder success/error cues -->
        <div id='placeholder-error' class='error notification'>{%- if flags.reason != 'generic' -%}{{ flags.reason }}{%- else -%}Oh noes! Something went wrong! Please reload the page and try again.{%- endif -%}</div>
        <div id='placeholder-success' class='yay notification'>Thanks! Your signup has been received. Check your email!</div>

        <!-- placeholder intro text -->
        <div {{ {
            'id': 'placeholder-intro',
            'data-keyname': 'placeholder_intro' if (security.current_user != none and security.permissions.admin == true) else none,
            'data-namespace': '_system_' if (security.current_user != none and security.permissions.admin == true) else none,
            'class': 'dynamic mini-editable' if (security.current_user != none and security.permissions.admin) else 'dynamic'
        }|xmlattr }}>

        {% content 'placeholder_intro', '_system_' %}
            <b>welcome!</b> openfire is still under construction.<br /> sign up here to get updates when we go live with our private beta!
        {% endcontent %}

        </div>

        <!-- placeholder email/name submission -->
        <div id="emailform">
            <form id='placeholder-form' action="{{ link('landing') }}" method='post'>
                <input id='name' type='text' name='name' required class='plformfield' placeholder='your name' />
                <input id='email' type='email' name='email' required class='plformfield' placeholder='email address' />
                <input id='csrf' type='hidden' name='csrf' value='{{ csrf }}' />
                <input id='action' type='hidden' name='action' value='of.beta.placeholder.registerSignup' />
                <button id='putsignup' class='active'>
                    <span id='submittext' class='karlabold'>{%- if flags.state == 'error' -%}Again!{%- elif flags.state == 'success' -%}Yay!{%- else -%}Sign up!{%- endif -%}</span>
                </button><!-- end #putsignup -->
            </form><!-- end #placeholder-form -->
        </div><!-- end #login_wrapper -->

    </div><!-- end #splash -->
    {% endblock %}

{% endblock %}

{# zero out platform scripts #}
{%- block jscore -%}{%- endblock jscore -%}
{%- block jsext -%}{%- endblock jsext -%}

{% block jsready %}
                _g = function (i) { return document.getElementById(i); }, _opr = 'placeholder', _of_pls = {check: "&#xf000a;",
                error: "&#xf000b;", spinner: "&#xf0043;"}, _of_pl = {symbols: _of_pls, prefix: _opr, el: {
                wrap: _g([_opr, 'form'].join('-')), error: _g([_opr, 'error'].join('-')), success: _g([_opr, 'success'].join('-')),
                name: _g('name'), email: _g('email'), submit: _g('putsignup'), slabel: _g('submittext'),
                intro: _g([_opr, 'intro'].join('-'))}, callbacks: { rpc: { success: function (r) {
                $.apptools.dev.log('OF:BetaSignup', 'Beta signup successful.', r, _of_pl);
                _of_pl.el.success.classList.add('active'); _of_pl.el.slabel.className = 'momentron yay';
                _of_pl.el.slabel.innerHTML = _of_pl.symbols.check; setTimeout(function () {
                _of_pl.el.success.classList.remove('active'); _of_pl.el.name.removeAttribute('disabled');
                _of_pl.el.email.removeAttribute('disabled'); _of_pl.el.submit.className = "active";
                _of_pl.el.slabel.className = 'karlabold active'; _of_pl.el.slabel.innerHTML = "Sign up!"; }, 1600);},
                failure: function (r) { $.apptools.dev.error('OF:BetaSignup', 'Beta signup failure.', r, _of_pl);
                _of_pl.el.success.classList.remove('active'); _of_pl.el.slabel.className = 'momentron error';
                if (r.error_message) { _of_pl.el.error.innerHTML = r.error_message; }
                _of_pl.el.slabel.innerHTML = _of_pl.symbols.error; _of_pl.el.error.classList.add('active');
                setTimeout(function () { _of_pl.el.error.classList.remove('active'); _of_pl.el.submit.className = 'active';
                _of_pl.el.slabel.className = 'karlabold'; _of_pl.el.slabel.innerHTML = "Again!";
                _of_pl.el.name.removeAttribute('disabled'); _of_pl.el.email.removeAttribute('disabled'); }, 1600);
                } }, submit: function (event) { event.preventDefault(); event.stopPropagation();
                _of_pl.el.error.classList.remove('active'); _of_pl.el.success.classList.remove('active');
                if (!_of_pl.el.name.value || !_of_pl.el.email.value) {
                _of_pl.el.error.innerHTML = "There was some missing information. Please try again!";
                _of_pl.el.error.classList.add('active'); } else { _of_pl.el.submit.classList.remove('active');
                _of_pl.el.slabel.className = ['momentron', 'loading', 'spinner'].join(' ');
                _of_pl.el.slabel.innerHTML = _of_pl.symbols.spinner; _of_pl.el.name.setAttribute('disabled', 'disabled');
                _of_pl.el.email.setAttribute('disabled', 'disabled'); setTimeout(function () {
                $.apptools.api.beta.signup({name: _of_pl.el.name.value, email: _of_pl.el.email.value}).fulfill(_of_pl.callbacks.rpc);
                }, 250); } } } }, ofpl_sb = _of_pl.el.wrap.onsubmit = _of_pl.el.submit.onclick = _of_pl.callbacks.submit,
{%- endblock jsready -%}


{# trigger an error/success notification if we have args, meaning the user submitted the form via POST #}

{% block postsouth %}
{%- if flags.state != none -%}
<script type='text/javascript'>
(function () { return _.ready(function () {
    var pln = _.get('placeholder-{{ flags.state }}');
    setTimeout(function () {
        pln.classList.add('active');
        setTimeout(function () {
            {% if flags.state == 'success' %}
            var btn = _.get('submittext').innerHTML = "Sign up!";
            {%- endif -%}
            pln.classList.remove('active');
        }, 2300);
    }, 350);

})}).call(this);
</script>
{%- endif -%}
{% endblock %}