{% extends "layout/account.html" %}

{% block account %}
<div id="user-account">

    <div id="user-account-header">
        <div id="header-text">
            User Account Page
        </div>
        <div id="header-subtext">
            View and edit information about your account and projects you are a part of.
        </div>
    </div>

    <div id="user-payment-info">
        {% include "user/user_payment_info.html" %}
    </div>

    <hr>

    <div id="user-projects-info">
        {% include "user/user_projects_info.html" %}
    </div>

</div>
{% endblock %}
