<div class="user-payment-history">
    <span class="payment-table-title">Your Payment History</span>
    {% if payment_history %}
    <table class="user-payment-history-table payment-table" width="650px">
        <thead>
            <th>To Project</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for payment in payment_history %}
            <tr>
                <td>{{ payment.to_project.get().name }}</td>
                <td>{{ currency(payment.amount) }}</td>
                <td>{{ payment.status | payment_status }}</td>
                <td>
                    <button id="{{ payment.key.urlsafe() }}" class="cancel-payment">Cancel</button>
                    {% if payment.current_transaction %}
                        <a href="/_payment/ipn?checkout_id={{ payment.current_transaction.get().wepay_checkout_id }}" target="_blank">update</a>
                    {% else %}
                        not in progress
                    {% endif %}
                </td>
            </tr>
            {% else %}
            <tr>
                <td class="empty">No payments.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <span class="no-payment-history">No Payment History</span>
    {% endif %}
</div>

<div class="user-money-sources">
    <span class="money-sources-title">Saved Money Sources</span>
    <ul>
    {% for source in money_sources %}
        <li>
            <span>{{ source.description }}</span>
            <span><button id="{{ source.key.urlsafe() }}" class="remove-money-source">Remove</button></span>
        </li>
    {% else %}
        <li class="empty">No saved money sources</li>
    {% endfor %}
    <ul>
</div>

