<span class="project-accounts-title">Your Project Payment Accounts</span>

<div class="user-wepay-account">
{% if not wepay_account %}
    <span class="link-wepay-info-txt">To collect payments for an account yourself you must link a new or existing WePay account to openfire. Click here to be redirected to a page on the WePay site where you can link or create and account:</span>
    <button id="link-wepay-account-btn" type="button">Link or Create a WePay Account</button>
    <div id="link-wepay-account-inline" style="display: none;">
        <span><a href="" id="link-wepay-account-link"></a></span>
    </div>
{% else %}
    <div>
        <span>You have linked your WePay account with openfire.</span>
    </div>
{% endif %}
</div>

<div class="user-owned-projects">
{% if owned_projects %}
    <span class="owned-projects-title">Projects You Own</span>
    {% for project_key, project_dict in owned_projects.iteritems() %}
        <span class="owned-project-name">{{ project_dict['project'].name }}</span>
        {% if project_dict['account'] %}
            <div class="wepay-project-account">
                <span class="wepay-account-name">{{ project_dict['account'].name }}</span>
                <span class="wepay-account-balance">${{ project_dict['account'].balance }}</span>
                <button class="wepay-update-account-balance-btn" id="{{ project_dict['account'].key.urlsafe() }}" class="update-account-balance">update</button>
                <button class="wepay-start-withdrawal-btn" id="{{ project_dict['account'].key.urlsafe() }}" class="start-withdrawal">withdraw</button>
                <span><a href="" id="account-{{ project_dict['account'].key.urlsafe() }}"></a></span>


                <a id="a-project-payment-history-dialog-{{ project_key }}" href="#project-payment-history-dialog-{{ project_key }}">View {{ project_dict['project'].name }} payment history</a>
                <div id="project-payment-history-dialog-{{ project_key }}" class="pre-modal project-payment-history" style="opacity: 0;">
                    <h4>{{ project_dict['account'].name }} payment history</h4>
                    {% if project_dict['history'] %}
                    <table class="project-payment-history-table payment-table" width="75%">
                        <thead>
                            <th>From User</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </thead>
                        <tbody>
                            {% for payment in project_dict['history'] %}
                            <tr>
                                <td>{{ payment.from_user }}</td>
                                <td>{{ currency(payment.amount) }}</td>
                                <td>{{ payment.status }}</td>
                                <td>
                                    <button id="{{ payment.key.urlsafe() }}" class="cancel-payment">Cancel</button>
                                    <button id="{{ payment.key.urlsafe() }}" class="refund-payment">Refund</button>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td>No payments.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <span class="no-project-payment-history">No Payments</span>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="no-project-account">
                <span class="info-txt">There is no collection account set up for this project. You may set one up now.</span>
                <button class="create-account-for-project" id="{{ project_key }}" type="button">Create account for {{ project_dict['project'].name }}</button>
            </div>
        {% endif %}
    {% endfor %}
{% else %}
    <span class="no-owned-projects">You do not own any projects (yet).</span>
{% endif %}
</div>
