.installed.cfg
*.pyc
*.pyo
*.swp
.DS_Store
*.DS_Store
.coverage
.egg-info
app/lib/dist
var/*.store
*.svn
.svn
app/.sass-cache
tools/bin/appcfg
tools/bin/appcfg*
tools/bin/buildout
tools/bin/buildout*
tools/bin/bulkload_client
tools/bin/bulkload_client*
tools/bin/bulkloader
tools/bin/bulkloader*
tools/bin/dev_appserver
tools/bin/dev_appserver*
tools/bin/apptracectl
tools/bin/apptracectl*
tools/bin/python
tools/bin/python*
tools/bin/pybabel
tools/bin/pybabel*
tools/bin/remote_api_shell
tools/bin/remote_api_shell*
app/templates/compiled/*.py
app/templates/compiled/*/*.py
app/templates/compiled/*/*/*.py
var/*
node_modules/*
.installed.cfg
nohup.out