{% extends "layout/security.html" %}

{% block content %}

	{% block loginsplash %}
	<div id='splash' class="rounded-big center-all splash">

		<div id="login_wrapper" data-federated="{%- if federated -%}true{%- else -%}false{%- endif -%}" data-csrf="{{ encrypt(security.session.get('sid', '__DEV__')) }}">
			{% include "snippets/login_box.html" with context %}
		</div><!-- end #login_wrapper -->

	</div><!-- end #splash -->
	{% endblock %}

{% endblock %}

{% block jsready %}
        lbi, lbl, lbb, lbbs = document.getElementsByClassName("authprovider"), lbsetup = function (lbi, lbl, lbb, lbbs) {
        for (lbi=0, lbl=lbbs.length; lbi < lbl; lbi++) { lbb = lbbs[lbi]; lbb.addEventListener("click", function (e) {
        var lbp = e.target, undefined = e.stopPropagation(), undefined = e.preventDefault(), lbd = lbp.getAttribute("disabled"),
        lbc = lbp.getAttribute("data-action"); $.apptools.dev.log('OF:Logon', 'Redirecting to logon partner.', e);
        if (lbd != "disabled") { window.location.href = lbc; }})}}, pral = document.getElementById("lockedout"),
        undefined = pral.addEventListener("click", function (e) { var pwtl = 'Password recovery', pwlv = 'warn',
        pwms = 'Please contact an openfire! staff member for account help during the private beta.', 
        res = $.openfire.sys.notify(pwlv, pwtl, pwms); }), lbsid = 'signup_submit', lbsl = document.getElementById(lbsid),
        undefined = lbsl.addEventListener("click", function (e) { var lusi = 'username', lusp = 'password',
        lusr = document.getElementById(lusi).value, luspw = document.getElementById(lusp).value, 
        lurb = "{{ link('auth/register', sr='login', exi='empty') }}", lurusr = (lusr != '') ? window.btoa(lusr) : 'nusr',
        rrrl = lurb += "&" += ["iusr", lurusr].join("="), undefined = $.apptools.dev.log('OF:Logon', 'Redirecting to signup.', e, rrrl);
        window.location.href = rrrl;}), undefined = lbsetup(lbi, lbl, lbb, lbbs), undefined = $.apptools.dev.log('OF:Logon', 'Logon ready.'),
{%- endblock jsready -%}

{#{% block postsouth %}
	<script>
		_.ready(function () {
			// # openfire logon # //
			var i, l, button,
				buttons = document.getElementsByClassName("authprovider");
			for (i = 0, l = buttons.length; i < l; i++) {
				button = buttons[i];
				button.addEventListener("click", function (e) {
					var provider = e.target,
						disabled = provider.getAttribute('disabled'),
						location = provider.getAttribute('data-action');

					e.preventDefault();
					e.stopPropagation();

					if (disabled !== 'disabled') { window.location.href = location; }
				}, false);
			};
		});
	</script>
{% endblock postsouth %}#}