{% block footercontent %}

    <div id="footer-content-wrap">
        <div id="footer-about" class="content-card deferred">
            <h1>about openfire</h1>
            <p>Every technologist, hacker or designer has a secret project that they know can change the world. Kickstarter (and particular project successes, such as Diaspora) have proven that there is a public appetite for supporting hackers for a cause or a mission. We are making that process easier, and scaling it up.</p>
            <p><a href="/about#about-sp">more about us</a></p>
        </div>

        <div id="footer-privacy" class="content-card deferred">
            <h1>Privacy</h1>
            <p>We respect your right to privacy.</p>
            <p>We will not give your name or personal information to third parties.</p>
            <p>No one will ever see your credit card information besides our payment processor, not even us</p>
            <p><a href="/about#legal-sp">privacy policy</a></p>
        </div>

        <div id="footer-support" class="content-card deferred">
            <h1>Support</h1>
            <p>What can we do for j00?</p>
            <p><a href="/about#support-sp">let us know</a></p>
        </div>
    </div>

{% endblock %}