{% block footercontent %}

    <div id="footer-content-wrap">
        <div id="footer-about" class="content-card deferred">
            <h1>About</h1>
            <p>Hi! It's nice to meet you, we're <a href="#">the openfire team</a>. We do things, most of the time.</p>
            <p><a href="/about#about-sp">more about us</a></p>
        </div>

        <div id="footer-privacy" class="content-card deferred">
            <h1>Privacy</h1>
            <p>We care SO HARD about your privacy</p>
            <p><a href="/about#legal-sp">find out why</a></p>
        </div>

        <div id="footer-support" class="content-card deferred">
            <h1>Support</h1>
            <p>What can we do for j00?</p>
            <p><a href="/about#support-sp">let us know</a></p>
        </div>
    </div>

{% endblock %}