<div class="loginbox" data-csrf="" data-providers="">

	<!-- left column: 3rd part logon -->
	<div class="federated">
		<div class="{%- if not security_config.authentication.federation.enabled -%}disabled{%- else -%}thirdparty{%- endif -%}">
		{% if not federated_error %}<h4>Sign in with an existing account</h4>{% else %}<h4 class="woops">{{ federated_error|safe }}</h4>{% endif %}
		{% for provider in security_config.authentication.federation.providers %}
			{% if provider.enabled %}
				{%- if not security_config.authentication.federation.enabled -%}
					<button {{
						{
							'id': '%s-federated-logon-trigger' % provider.name,
							'class': ' '.join(['disabled', 'zocial', provider.name, 'logon', 'button']),
							'data-provider-name': provider.name,
							'data-provider-label': provider.label,
							'data-provider-mode': provider.mode,
							'disabled': 'disabled'
						}|xmlattr
					}}>Login with {{ provider.label }}</button>
				{%- else -%}
					<button {{
						{
							'id': '%s-federated-logon-trigger' % provider.name,
							'class': ' '.join(['thirdparty', 'zocial', provider.name, 'authprovider', 'logon', 'button']),
							'data-provider-name': provider.name,
							'data-provider-label': provider.label,
							'data-provider-mode': provider.mode,
							'data-action': link('auth/login-with', provider=provider.name)
						}|xmlattr
					}}>Login with {{ provider.label }}</button>
				{%- endif -%}
			{% endif %}
		{% endfor %}
		</div>
	</div> <!-- end .federated -->

	<!-- right column: tour -->
	<div class="securelogon">
		{% if not error %}<h4>Sign in using your openfire account</h4>{% else %}<h4 class="woops">{{ error|safe }}</h4>{% endif %}
		<form action="{{ link('auth/login') }}" method="POST" class="oflogon formcontainer">
			<input type="text" name="username" placeholder="Email" />
			<input type="password" name="password" placeholder="Password" />
			<a class="lockedout" href="#">Locked out?</a>
			<button class="login button">Log In</button>
			<button class="signup button">Sign Up</button>
		</form>
	</div> <!-- end .securelogon -->

</div>