<!-- Core Scripts -->
<script src="{{ asset.script('jquery-full', 'core') }}"></script>
<script src="{{ asset.script('d3', 'core') }}"></script>
<script src="{{ asset.script('jacked', 'core') }}"></script>

<!-- Base Scripts -->
{% if security.permissions.admin %}
<script src="{{ asset.script('admin', 'apptools') }}"></script>
<script src="{{ asset.script('admin', 'openfire') }}"></script>
{% else %}
<script src="{{ asset.script('base', 'apptools') }}"></script>
<script src="{{ asset.script('app', 'openfire') }}"></script>
{%- endif -%}

{# <!-- Ext Scripts --> #}
{% if transport.realtime.enabled %}
{%- if transport.services.secure -%}
<script async src="https://{{ transport.services.endpoint }}/_ah/channel/jsapi"></script>
{%- else -%}
<script async src="http://{{ transport.services.endpoint }}/_ah/channel/jsapi"></script>
{%- endif -%}
{% endif %}