@import "compass/utilities/sprites/sprite-img"
@import "compass/css3/images"
@import _core/config
@import _core/fonts
@import _core/h5bp
@import _core/initializr

@import _core/base


body
    font: 80% Verdana, sans-serif

h1
    font: 48pt 'Satisfy', cursive

p
    margin: 15px 0
    padding: 5px 0

.lightorange
    color: #ffb246

.darkorange
    color: #f57220

#header-container
    top: 0
    left: 0
    right: 0
    position: absolute
    z-index: 800

#main
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    z-index: 500

    #content

        &::before
            display: block
            content: ''
            height: 5px
            margin-top: -5px
            +background(linear-gradient(bottom, #cfcfcf, #ddd))

    #masthead
        background: #ddd
        height: 270px
        position: relative

        #oflogo
            position: absolute
            bottom: 25%
            left: 5%

        #title
            position: absolute
            bottom: 0
            left: 13%
            font: 32pt "Satisfy", cursive


#footer-container
    position: fixed
    bottom: 0
    left: 0
    right: 0
    z-index: 1000
    background: #bbb
    padding: 10px

    footer
        padding: 0 !important

.left
    float: left

.right
    float: right


// MediaQueries/Print/Helpers
@import _core/helpers
@import _core/mediaqueries
@import _core/print

@import _partials/widgets
// openfire! :)
@import _partials/superbar

.section-wrap
    width: 100%

.project-card
    width: 140px
    border-radius: 5px
    background-color: white
    padding: 10px
    margin: 20px 0px 20px 20px
    float: left
    box-shadow: 2px 2px 2px #cdcdcd

    &:hover
        box-shadow: 2px 2px 2px #bfbfbf
        .project-icon
            &::after
                background-color: #eee
                color: #666

        .project-progress
            +background(linear-gradient(top center, #ffb246, #f57220))
            opacity: 0.75

    a
        text-decoration: none

    .project-icon
        &::after
            display: block
            content: attr(data-name)
            height: 20px
            line-height: 20px
            padding-right: 4px
            text-align: right
            vertical-align: middle
            background-color: #f4f4f4
            color: #999
            font:
                family: 'Karla', sans-serif
                size: 16px
                weight: 400
                style: italic
            text-transform: uppercase
            overflow: hidden
            text-decoration: none

        &:hover
            cursor: pointer
            &::after
                text-decoration: underline

    .project-progress
        width: 120px
        height: 10px
        margin-top: 10px
        border: none !important
        border-top-left-radius: 5px
        border-bottom-left-radius: 5px
        background-color: #f57220
        background-size: 9px 10px
        opacity: 0.5

        &:hover
            +background(linear-gradient(top center, #ffb246, #f57220))
            opacity: 1
            cursor: pointer

section.newsfeed
    ul.feed
        list-style-type: none
        width: 100%
        margin: 0
        padding: 3% 0 0

        li.feed-item
            background-color: white
            min-height: 60px
            width: 94%
            margin: 0px auto !important
            border-bottom: 1px solid #eee

            &:last
                border-bottom: none !important

            .datetime
                align: right
                display: block
                position: relative
                bottom: 0
                width: 50px
                height: 50px
                background-color: orange

@import _partials/social.sass