{% extends "layout/about.html" %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset.style('about', 'openfire') }}">
{% endblock %}


{% block info %}
    <div class="fixed" id="about-controls" data-options="{'bundle': 'rich'}">
        <a href="#about-sp">about</a>
        <a href="#legal-sp">legal</a>
        <a href="#support-sp">support</a>
    </div>
    <div class="fullpage" id="about">
        <div class="scrollpoint" id="about-sp"></div>
        <h1 id="about-title">[ABOUT] the openfire team</h1>
        <div id="about-content" class="content">
            <div class="profile-card">
                <a href="/david">
                    <div class="avatar" data-name="david anderson">
                        <img src="http://placekitten.com/g/140/140">
                    </div>
                </a>
                <div class="accounts">
                    <span class="icon facebook"></span>
                    <span class="icon google"></span>
                    <span class="icon linkedin"></span>
                    <span class="icon github"></span>
                </div>
            </div>
            <div class="profile-card">
                <a href="/ethan">
                    <div class="avatar" data-name="ethan leland">
                        <img src="http://placekitten.com/g/140/140">
                    </div>
                </a>
                <div class="accounts">
                    <span class="icon facebook"></span>
                    <span class="icon google"></span>
                    <span class="icon linkedin"></span>
                    <span class="icon github"></span>
                </div>
            </div>
            <div class="profile-card">
                <a href="/sam">
                    <div class="avatar" data-name="sam gammon">
                        <img src="http://placekitten.com/g/140/140">
                    </div>
                </a>
                <div class="accounts">
                    <span class="icon facebook"></span>
                    <span class="icon google"></span>
                    <span class="icon linkedin"></span>
                    <span class="icon github"></span>
                </div>
            </div>
            <div class="profile-card">
                <a href="/davidr">
                    <div class="avatar" data-name="david rekow">
                        <img src="http://placekitten.com/g/140/140">
                    </div>
                </a>
                <div class="accounts">
                    <span class="icon facebook"></span>
                    <span class="icon google"></span>
                    <span class="icon linkedin"></span>
                    <span class="icon github"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="fullpage" id="legal">
        <div class="scrollpoint" id="legal-sp"></div>
        <h1 id="legal-title">[LEGAL] privacy | terms</h1>
        <div id="legal-content" class="content">
            <p>We respect your right to privacy.</p>
            <p>We will not give your name or personal information to third parties.</p>
            <p>No one will ever see your credit card information besides our payment processor, not even us.</p>
            <p></p>
            <h2>detailed info</h2>
            <div id="legal-tabset" class="pre-tabs relative tabset default">
                <a class="tab-link tab-rounded" href="#email-tab">email</a>
                <a class="tab-link tab-rounded" href="#security-tab">security</a>
                <a class="tab-link tab-rounded" href="#info-tab">your data</a>
                <a class="tab-link tab-rounded" href="#wrapup-tab">our rights</a>
                <div class="tab-wrapper">
                    <div id="email-tab" class="tab" style="opacity: 0; display: none;">
                        <p>We want to communicate with you only if you want to hear from us.</p>
                        <p>We will send you email relating to your personal transactions. We will keep these emails to a minimum.</p>
                        <p>You will also receive certain email notifications (forwarded messages, etc.), for which you may opt-out.</p>
                        <p>We may send you service-related announcements on rare occasions when it is necessary to do so.</p>
                        <p>Project creators receive the email addresses of their backers if, and only if, the project is successfully funded.</p>
                    </div>
                    <div id="security-tab" class="tab" style="opacity: 0; display: none;">
                        <p>openfi.re uses cookies to help (anonymously) recognize you as a repeat visitor and to track traffic patterns on our site. We use this information to make openfi.re more user-friendly.</p>
                        <p>openfi.re may obtain IP addresses from users. We will use this information to monitor and prevent fraud, diagnose problems, and (anonymously) estimate demographic information.</p>
                        <p>We use a variety of security measures, including encryption and authentication tools, to maintain the confidentiality of your personal information. Your personal information is stored behind firewalls and is only accessible by a limited number of people who are required to keep the information confidential.</p>
                        <p>When you place orders we use a secure server. To the extent you select the secure server method and your browser supports such functionality, all credit card information you supply is transmitted via Secure Socket Layer (SSL) technology.</p>
                        <p>Regardless of these efforts by us, no data transmission over the public Internet can be guaranteed to be 100% secure.</p>
                    </div>
                    <div id="info-tab" class="tab" style="opacity: 0; display: none;">
                        <h2>voluntary disclosure</h2>
                        <p>Any personal information or content that you voluntarily disclose in public areas becomes publicly available and can be collected and used by other users. You should exercise caution before disclosing your personal information via these public venues.</p>

                        <h2>project creators</h2>
                        <p>By entering into our User Agreement, openfi.re Project Creators agree to not abuse other users' personal information. Abuse is defined as using personal information for any purpose other than those explicitly specified in the Project Creator’s Project, or is not related to fulfilling delivery of a product or service explicitly specified in the Project Creator’s Project.</p>
                        <p>openfi.re Project Creators never receive users' credit card information.</p>
                    </div>
                    <div id="wrapup-tab" class="tab" style="opacity: 0; display: none;">
                        <p>openfi.re reserves the right to update this privacy policy at anytime. Updates to our privacy policy will be sent to the email address that you have provided us or posted prominently on the website.</p>
                        <p>We reserve the right to disclose your personally identifiable information as required by law and when we believe that disclosure is necessary to protect our rights, or in the good-faith belief that such action is necessary to comply with state and federal laws (such as U.S. Copyright Law).</p>
                        <p>To modify or delete any or all of the personal information you have provided to us, please log in and update your profile.
                        People under 18 are not permitted to use openfi.re on their own, and so this privacy policy makes no provision for their use of the site.</p>
                    </div>
                </div>
            </div>
            <p></p>
            <h2>questions</h2>
            <p>If you have questions or suggestions, please <a href="#support-sp">contact us</a>.</p>
        </div>
    </div>
    <div class="fullpage" id="support">
        <div class="scrollpoint" id="support-sp"></div>
        <h1 id="support-title">[SUPPORT] let's chat | FAQ</h1>
        <div id="support-content" class="content">
            <p>Here we are telling you we love you.</p>
            <p>And we'd love to hear from you, good or bad.</p>
            <p>Find a bug? <a href="#">Let us know!</a></p>
            <p><a href="#">Give feedback / ask a question</a>.</p>
            <p><a href="#">Here lives FAQ?</a></p>
            <p>Maybe we give you digits later.</p>
        </div>
    </div>
{% endblock %}

