{% extends "layout/about.html" %}

{% block postnorth %}
    <link rel="stylesheet" href="{{ asset.style('propose', 'openfire') }}">
{% endblock postnorth %}


{% block main %}
    {% if security.permissions.admin %}
    <div id="proposal-explanation" data-keyname="proposal_explanation" data-namespace="_system_" data-options="{'bundle':'rich'}" class="dynamic mini-editable">
    {% else %}
    <div class="dynamic">
    {% endif %}
        {% content "proposal_explanation", "_system_" %}
        <h2>Have an idea for change that really needs to happen?</h2>
        <p>Submit an idea for a project on openfi.re!</p>
        <ul>
            <li>We'll ask you a few questions first about what kind of project you want to propose.</li>
            <li>Once that's finished, you'll be taken to your private custom proposal page where you can continue to review & edit your proposal until you're satisfied - then submit it!</li>
            <li>The openfire review team will take a look at your proposal - we may request iteration on items in your proposal to fully understand your project's scope and vision.</li>
            <li>Once it's been approved, you will be notified with a link to your preliminary project page, which is private until you've finalized your campaign...then it's time to go live!</li>
        </ul>
        {% endcontent %}
    </div>

    <div>
        {% if security.current_user %}
            <a id="a-proposal-wizard-dialog" class="start-proposal-btn" href="#start-proposal-dialog">start your proposal!</a>
            <div id="proposal-wizard-dialog" class="pre-modal" style="opacity: 0;" data-options='{"size":{"width":750,"height":370}}'>
                {% include "snippets/proposal_wizard.html" with context %}
            </div>
        {% else %}
            <a id="a-proposal-wizard-dialog" class="start-proposal-btn login-required-btn" href="/login">log in or sign up to start your proposal now!</a>
        {% endif %}
    </div>
{% endblock %}

{% block jquery %}
	<script type="text/javascript" src="{{ asset.script('jquery-full', 'core') }}"></script>
	<script type="text/javascript" src="{{ asset.script('datepickr', 'core') }}"></script>
	<script type="text/javascript" src="{{ asset.script('smartwizard', 'jquery') }}"></script>
{% endblock jquery %}
