<div id="propose-wizard" class="sw-main">
    <ul>
        <li>
            <a href="#step-1">
                <label class="step-number">1</label>
                <span class="step-desc">General Info</span>
            </a>
        </li>
        <li>
            <a href="#step-2">
                <label class="step-number">2</label>
                <span class="step-desc">More Detail</span>
            </a>
        </li>
        <li>
            <a href="#step-3">
                <label class="step-number">3</label>
                <span class="step-desc">Team and Tech</span>
            </a>
        </li>
        <li>
            <a href="#step-4">
                <label class="step-number">4</label>
                <span class="step-desc">Summary</span>
            </a>
        </li>
    </ul>
    <div id="step-1">
        <h2 class="step-title">General Information</h2>
        <p>
            <label>Name</label><input type="text" id="proposal-name" />
            <br/>
            <label>URL</label><input type="text" id="proposal-url" />
            <br/>
            <label>Summary</label><input type="text" id="proposal-summary" />
            <br/>
            <label>Category</label><input type="text" id="proposal-category" />
        </p>
    </div>
    <div id="step-2">
        <h2 class="step-title">More Details About Your Idea</h2>
        <p>
            <label>Pitch</label><input type="text" id="proposal-pitch" />
            <br/>
            <label>First Goal</label><input type="text" id="proposal-first-goal" />
            <br/>
            <label>Ultimate Goal</label><input type="text" id="proposal-last-goal" />
        </p>
    </div>
    <div id="step-3">
        <h2 class="step-title">More Details About Your Project Team and Tech</h2>
        <p>
            <label>Tech</label><input type="text" id="proposal-tech" />
            <br/>
            <label>Team</label><input type="text" id="proposal-team" />
        </p>
    </div>
    <div id="step-4">
        <h2 class="step-title">Summary</h2>
        <p>
            <label>Name: </label><span id="name-summary"></span>
            <br/>
            <label>URL: </label><span id="url-summary"></span>
            <br/>
            <label>Summary: </label><span id="summary-summary"></span>
            <br/>
            <label>Category: </label><span id="category-summary"></span>
            <br/>
            <label>Pitch: </label><span id="pitch-summary"></span>
            <br/>
            <label>First Goal: </label><span id="first-goal-summary"></span>
            <br/>
            <label>Last Goal: </label><span id="last-goal-summary"></span>
            <br/>
            <label>Tech: </label><span id="tech-summary"></span>
            <br/>
            <label>Team: </label><span id="team-summary"></span>
        </p>
        <p>
            More explaination saying you can set you avatar, video, and images, on the proposal page you will be redirected to.
        </p>
    </div>
</div>
