#category-container .category,
#proposal-container .proposal,
#project-container .project,
#custom-url-container .custom-url {
  display: inline-block;
  border: 2px solid black;
}

#category-container .category .category-info span, #category-container .category .category-info textarea,
#proposal-container .proposal .proposal-info span,
#proposal-container .proposal .proposal-info textarea,
#project-container .project .project-info span,
#project-container .project .project-info textarea,
#custom-url-container .custom-url .custom-url-info span,
#custom-url-container .custom-url .custom-url-info textarea {
  display: inline;
}
#category-container .category .category-info label,
#proposal-container .proposal .proposal-info label,
#project-container .project .project-info label,
#custom-url-container .custom-url .custom-url-info label {
  display: block;
  text-decoration: underline;
}
