
#me
    text-align: right
    height: 45px
    line-height: 43px
    max-width: 450px
    max-height: 210px

    -webkit-transition-property: background-color

    a
        background-color: transparent !important
        &:hover
            background-color: white !important
        &.active
            background-color: white !important


#profile_dropdown
    background: white
    min-width: 200px
    min-height: 0px
    height: 0px
    padding: 10px
    position: relative
    z-index: -1
    border: 1px solid transparent
    border-top: none !important
    opacity: 0.0
    box-shadow: 2px 2px 2px rgba(0,0,0,0.25)
    -webkit-transition-property: height, min-height, opacity, z-index

    &.active
        height: auto
        min-height: 45px
        z-index: 1000
        top: 0px
        border-color: #d3d3d3
        opacity: 1.0

        a
            display: inline !important


    a
        display: none !important
        position: relative
        top: 15px
        border-radius: 5px
        color: white !important
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f79331), color-stop(100%, #f57220))
        background: -webkit-linear-gradient(top center, #f79331, #f57220)
        background: -moz-linear-gradient(top center, #f79331, #f57220)
        background: -o-linear-gradient(top center, #f79331, #f57220)
        background: -ms-linear-gradient(top center, #f79331, #f57220)
        background: linear-gradient(top center, #f79331, #f57220)
        &:hover
            background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffd468), color-stop(100%, #ffb246)) !important
            background: -webkit-linear-gradient(top center, #ffd468, #ffb246) !important
            background: -moz-linear-gradient(top center, #ffd468, #ffb246) !important
            background: -o-linear-gradient(top center, #ffd468, #ffb246) !important
            background: -ms-linear-gradient(top center, #ffd468, #ffb246) !important
            background: linear-gradient(top center, #ffd468, #ffb246) !important
            cursor: pointer
        &:active
            background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffb246), color-stop(100%, #ffd468)) !important
            background: -webkit-linear-gradient(top center, #ffb246, #ffd468) !important
            background: -moz-linear-gradient(top center, #ffb246, #ffd468) !important
            background: -o-linear-gradient(top center, #ffb246, #ffd468) !important
            background: -ms-linear-gradient(top center, #ffb246, #ffd468) !important
            background: linear-gradient(top center, #ffb246, #ffd468) !important
            cursor: pointer