@media all and (min-width: 480px)
  #superbar 
    nav
      left: 125px
      ul a
        color: #ffb246

@media all and (max-width: 768px)
  #superbar
    #tinylogo
      left: 2%
      padding: 2px
      max-width: 10%

    background-color: #555
    color: #f57220
    height: 42px
    position: fixed
    nav
      left: 0
      .left
        display: none
      ul li
        display: list-item
        a
          color: #f57220

    box-shadow: 0px 2px 2px -1px rgba(0,0,0,0.5)
    

@media all and (min-width: 768px)
  #superbar
    #tinylogo
      top: 5px
      left: 10px

    background-color: transparent
    box-shadow: none

    nav
      ul li
        display: list-item

#superbar
  -webkit-transition-property: background-color, box-shadow
  width: 100%
  font-size: 8.5pt

  #tinylogo
    position: absolute

  nav
    position: absolute
    top: 0
    right: 0
    .left
      float: left
      margin-left: 1%
      li
        float: left
    .right li.profiletab
      padding-top: 5px
      padding-bottom: 5px
      a
        display: inline
        padding-right: 5px
      img
        display: inline
    ul li
      padding: 0 10px
      float: right
      a
        -webkit-transition-property: color
        &:hover
          text-decoration: none !important
      &:hover
        background: #f57220 !important
        a
          color: #fff !important
          text-decoration: none !important