#category-container
    .category
        display: inline-block
        border: 2px solid black
        .category-info
            span, textarea
                display: inline
            label
                display: block
                text-decoration: underline


#proposal-container
    .proposal
        display: inline-block
        border: 2px solid black
        .proposal-info
            span, textarea
                display: inline
            label
                display: block
                text-decoration: underline

#project-container
    .project
        display: inline-block
        border: 2px solid black
        .project-info
            span, textarea
                display: inline
            label
                display: block
                text-decoration: underline
