@import "../main"

.ohnoes
    width: 200px
    height: 50px
    text-align: center
    background: #E07979
    border: 2px solid #DB4B4B
    border-radius: 5px
    position: relative
    margin: 50px
    margin-left: auto
    margin-right: auto
    line-height: 50px

#main

    #content
        section
            margin: 0px 2.5% 300px
            width: 45%
            background: #eee
            min-width: 100px
            float: left

            h2
                font:
                    family: 'Karla', sans-serif
                    size: 44px
                    weight: 700
                color: #bbb
                background-color: white
                text-transform: uppercase
                line-height: 50px
                vertical-align: middle
                height: 50px
                width: 100%
                margin: 0
                padding: 10px 0

    #masthead
        #how-it-works-button
            height: 120px
            width: 300px
            position: absolute
            right: 5%
            top: 75px
            border-radius: 12px
            +background(linear-gradient(top center, #f79331, #f57220))
            text-align: right

            &:hover
                cursor: pointer
                +background(linear-gradient(top center, #ffd468, #ffb246))

            &:active
                margin-top: 2px
                margin-right: 2px

            a,
            a:link,
            a:visited,
            a:active
                cursor: pointer
                display: block
                line-height: 120px
                vertical-align: middle
                margin-right: 20px
                width: 280px
                font:
                    family: 'Karla', sans-serif
                    size: 25px
                    weight: 700
                color: #eee
                text-decoration: none
                text-transform: uppercase

                &:hover
                    color: white


.activity-table
    height: 500px
    width: 90%
    margin-left: 30px
    margin-top: 20px

    div.activity-row
        height: 200px
        text-align: center
        background: #FFFFFF
        border-radius: 5px
        margin-top: 10px

        div.activity-cell
            display: inline-table
            width: 250px
            height: 170px
            border: 1px solid black
            padding: 5px
            margin: 10px

#spark-graph rect
    stroke: blue
    fill: SteelBlue

#spark-graph text
    font: 10px sans-serif
