@import "../main"

.ohnoes
	width: 200px
	height: 50px
	text-align: center
	background: #E07979
	border: 2px solid #DB4B4B
	border-radius: 5px
	position: relative
	margin: 50px
	margin-left: auto
	margin-right: auto
	line-height: 50px