@import "../_core/mediaqueries"

// Smartphones
@media only screen and (min-width: 320px) and (max-width: 480px)
    +smartphone
    #profiletop
        position: fixed
        width: 100%
        top: 120px

    #avatar
        margin-left: auto
        margin-right: auto

    #topbanner
        position: relative
        top: 0
        left: 0

    #name
        text-align: center
        width: 100%
        display: block
        line-height: 56pt

    #topics
        display: block
        margin-right: auto
        margin-left: auto
        text-align: center

    #profilemain
        margin-top: 283px
        position: relative

    #contentpane
        position: relative


// Smartphone landscape
@media only screen and (min-width: 321px)
    +smartphone-landscape

// Smartphone portrait
@media only screen and (max-width: 320px)
    +smartphone-portrait

// iPad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)
    +ipad

// iPad landscape
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape)
    +ipad-landscape

// iPad portrait
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)
    +ipad-portrait

// Other tablet / intermediate screen
@media only screen and (min-width: 480px) and (max-width: 768px)
    +tablet
    #profile
        width: 70%
        margin-left: 13%
    #topics
        display: block
        position: fixed
        max-width: 150px
        right: -40px
        top: 150px

        span
            margin-right: 50px

    #rightbar
        display: none

// Other tablet landscape
@media only screen and (min-width: 481px)
    +tablet-landscape
    #profiletop
        position: relative
        width: 98%
        margin-right: 2%

    #avatar
        float: left
        margin-right: 15px
        margin-left: -30px

    #topbanner
        position: absolute
        top: -60px
        left: 160px

    #name
        text-align: left
        width: auto
        display: inline
        line-height: 60pt

    #topics
        position: absolute
        text-align: left

    #profilemain
        min-height: 400px

    #contentpane
        position: absolute
        top: 115px
        left: 2%
        bottom: 2%
        right: 2%
        min-height: 420px


// Other tablet portrait
@media only screen and (max-width: 620px)
    +tablet-portrait

// Fullscreen desktop/laptop
@media only screen and (min-width: 768px) and (max-width: 1140px)
    +fullscreen

@media only screen and (min-width: 768px)
    #profile
        width: 60%
        margin-left: 18%
    #topics
        max-width: 200px
        right: -210px
        top: 15px

        span
            margin-right: 0

// Widescreen
@media only screen and (min-width: 1140px)
    +widescreen

// iPhone 4
@media only screen and (min-device-pixel-ratio: 1.5)
    +iphone

@import "../main"

h1, h2, h3
    display: inline

h1
    line-height: 60pt

h4, h5, h6
    -webkit-margin-before: 0
    -webkit-margin-after: 0
    margin-top: 10px
    margin-bottom: 10px


.tag
    border: none
    border-radius: 4px
    font:
        family: "Karla"
        size: 11px
        weight: 700
    text-transform: uppercase
    padding: 3px
    margin:
        right: 3px
        left: 3px
    cursor: pointer
    color: #dfdfdf
    background-color: #999

    &:hover
        color: white
        background-color: #777

    &.topic,
    &.topic-edit
        background-color: #ffb246
        color: white

        &:hover
            background-color: #f57720

            .delete-tag
                color: #f57720

                &:hover
                    color: #ffb246

                &:active
                    color: white

    .delete-tag
        text-transform: lowercase
        font-size: 14px
        line-height: 9px
        margin-left: 4px
        color: #f57720

    &.add
        text-align: right
        line-height: 11px
        &::before
            display: inline
            content: '+'
            font-size: 16px
            margin-right: 4px

        &:empty
            position: relative
            width: 2em
            margin: 5px 0 0
            text-align: center
            &::before
                margin: 0 !important

        &:active
            &::before
                color: #ffb246

body
    background-color: whitesmoke

.profile
    &.section
        padding: 5px
        min-height: 50px

        .dynamic

            min-height: 50px
            padding: 5px

#masthead
    position: auto !important
    z-index: 500
    height: 140px !important

#content
    min-height: 600px
    display: inline

#profile
    background: white
    border: 1px solid #d4d4d4
    border-top: none

#profiletop
    z-index: 502

#avatar
    width: 175px
    height: 175px
    margin-top: -70px
    z-index: 503

#avatar_edit_overlay
    position: relative
    top: -32px
    height: 32px
    background: #222
    opacity: 0.4
    line-height: 32px
    -webkit-transition-property: opacity

    a
        display: block
        height: 100%
        width: 100%
        color: whitesmoke
        text-decoration: none

        span.momentron,
        span.change_avatar_label
            line-height: 32px
            vertical-align: middle
            color: white
            position: relative
            margin-left: 5px

    &:hover
        opacity: 0.85

        a
            color: white !important

#topbanner
    width: auto
    white-space: nowrap

    span
        white-space: normal

#topics
    font: 12pt "Source Sans Pro", sans-serif
    line-height: 16pt

#byline
    overflow: hidden
    padding-top: 10px

#userinfo
    background-color: whitesmoke
    span
        margin-right: 10px
        &:last-child
            margin-right: 0

#userbio
    -webkit-transition-property: max-height
    position: relative
    overflow: hidden
    text-overflow: ellipsis
    max-height: 55px
    width: 98%
    background-color: rgba(255,255,255,0.4)
    padding-bottom: 20px

    &.active
        max-height: 275px !important
        #userbio-toggle
            &::after
                content: "see less"

    p
        display: inline

#userbio-toggle
    position: absolute
    bottom: 0
    left: 0
    right: 0
    padding: 0
    margin: 0
    cursor: pointer
    background-color: whitesmoke
    text-align: center
    border:
        top: 1px solid #AAA
        bottom: 1px solid #aaa

    &::after
        display: block
        content: "see more"
        text-transform: uppercase
        font:
            family: "Karla"
            size: 8pt
        color: #333
        vertical-align: middle
        line-height: 11px
        padding: 2px
        margin: 0 auto

    &:hover
        background-color: #dedede
        &::after
            color: black

#profilemain
    position: relative


#leftbar
    width: 140px
    margin-left: 10px

#social_profiles
    position: absolute
    left: -33px
    top: 110px
    width: 33px
    text-align: center
    font-size: 8px

    div
        margin-top: 5px

#rightbar
    width: 140px
    margin-right: 10px

#userstats
    position: absolute
    right: -180px
    width: 170px
    text-align: center
    div
        margin-top: 10px
        background-color: #bada55

#contentpane
    z-index: 498

    h4
        color: #777
        font-size: 13px
        width: 100
        background: #ccc
        display: block
        padding: 5px
        text-transform: uppercase
        letter-spacing: 2px

.topics-existing,
.topics-new
    text-align: center

    h4
        display: block
        color: #444

.topics-existing
    left: 7px
    top: 7px
    background-color: #aaa
    width: 60%
    padding: 1px
    overflow-y: auto
    padding-bottom: 22px

.topics-new
    top: 7px
    width: 40%

    div.control
        bottom: 20px

.topic-edit,
.topic-edit .right
    font:
        family: "Karla"
        size: 26px
        weight: bold
    text-align: center
    padding: 0
    line-height: 56px
    vertical-align: middle

.topic-edit
    text-transform: uppercase
    display: block
    width: 100%
    background-color: #dedede
    color: #444
    border-bottom: 2px solid #cdcdcd
    border-top: 2px solid #efefef

    .right
        span
            margin: 0 7px
            cursor: pointer
            font-family: "momentron" !important

        .promote:hover
            color: green
        .demote:hover
            color: #777
        .remove:hover
            color: red