@import "../main"

#welcomebox
	position: relative
	left: 10%
	top: 160px

#sidebar
	position: absolute
	background: #CCC
	width: 300px
	height: 600px
	right: 10%
	bottom: 230px
	border: 1px solid #333

	#title
		width: 100%
		height: 80px
		text-align: center

		h1
			font:
				family: 'Karla'
				size: 260%
			color: black

	.contentwrap
		padding: 20px

#content

	article
		section
			width: 100% !important
			margin: 0 !important

	#project
		width: 640px
		left: 10%
		top: 260px
		position: relative

		h1
			font-size: 28pt
			margin-top: 20px
			margin-bottom: 0

		#intro
			display: inline