@import "../_core/mediaqueries"
@import "../_partials/shared"

// Smartphones
@media only screen and (min-width: 320px) and (max-width: 480px)
    +smartphone
    #proposal
        top: -200px

        &.active
            top: 0px

    +promote-smartphone
    +welcomebox-smartphone
    +mainvideo-smartphone
    +sidebar-smartphone
    +sidebuttons-smartphone
    +progress-smartphone
    +deets-smartphone

    #proposal-title
        margin-top: 0

        h1,
        a h1
            font-size: 24pt
            line-height: 37pt

    +deet-actions-smartphone

    #proposal-tabset
        .tab-rounded,
        .tab-link
            font-size: 14px
            line-height: 16px


// Smartphone landscape
@media only screen and (min-width: 321px)
    +smartphone-landscape

// Smartphone portrait
@media only screen and (max-width: 320px)
    +smartphone-portrait

// iPad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)
    +ipad

// iPad landscape
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape)
    +ipad-landscape

// iPad portrait
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)
    +ipad-portrait

// Other tablet / intermediate screen
@media only screen and (min-width: 480px) and (max-width: 768px)
    +tablet

    +promote-intermediate
    +mainvideo-intermediate
    +sidebuttons-intermediate
    +deets-intermediate

    #proposaltitle
        h1,
        a h1
            font-size: 32pt
            line-height: 44pt

    #proposal-tabset
        .tab-rounded,
        .tab-link
            font-size: 16px
            line-height: 18px

// Other tablet landscape
@media only screen and (min-width: 481px)
    +tablet-landscape
    #proposal
        margin: 0 auto

    #proposaltitle
        h1,
        a h1
            font-size: 32pt
            line-height: normal

// Other tablet portrait
@media only screen and (max-width: 620px)
    +tablet-portrait
    #proposal
        overflow: hidden
        width: 100%
        top: -200px

        &.active
            top: 0px

    +promote-tablet-portrait
    +welcomebox-tablet-portrait
    +mainvideo-tablet-portrait
    +sidebar-tablet-portrait
    +progress-tablet-portrait

    #proposal_goals,
    #proposal-tiers
        &::before
            display: none
            content: none

    +deets-tablet-portrait

    #proposal-tabset
        margin-bottom: 0px

        .tab-rounded,
        .tab-link
            margin: 0 auto
            font-weight: 700
            padding: 10px

        .tab
            position: relative
            bottom: 0px

    +footer-tablet-portrait

@media only screen and (min-width: 768px)
    +bigscreen-shared

// Fullscreen desktop/laptop
@media only screen and (min-width: 768px) and (max-width: 1140px)
    +fullscreen
    +fullscreen-shared

// Widescreen
@media only screen and (min-width: 1140px)
    +widescreen
    +widescreen-shared

// iPhone 4
@media only screen and (min-device-pixel-ratio: 1.5)
    +iphone


// Main styles
@import "../main"
+main-shared

#proposal_goals, #proposal_tiers
    +goals-tiers-shared

#proposal
    +page-shared

#proposaltitle
    +title-shared

#proposal-tabset
    +tabset-shared

#proposal-goal-editor,
#proposal-goal-editor-modal-content,
#proposal-tier-editor,
#proposal-tier-editor-modal-content
    +goal-tier-editor-shared