<h2>Projects!</h2>
<div id="project-container">
    <div class="project-header">
        <div class="bbq-col">Name</div>
        <div class="bbq-col">Summary</div>
        <div class="bbq-col">Category</div>
        <div class="bbq-col">Status</div>
        <div class="bbq-col">Pitch</div>
        <div class="bbq-col">Tech</div>
        <div class="bbq-col">Keywords</div>
        <div class="bbq-col">Creator</div>
        <div class="bbq-col">Owners</div>
        <div class="bbq-col">Goals</div>
        <div class="bbq-col">Tiers</div>
        <div class="bbq-col">Avatar</div>
        <div class="bbq-col">Video</div>
        <div class="bbq-col">Images</div>
    </div>
    {% for project in projects %}
    <div class="project">
        <div class="project-info">
            <span class="project-key" style="display: none;">{{ encrypt(project.key.urlsafe()) }}</span>
            <span class="project-name bbq-editable">{{ project.name }}</span>
        </div>
        <div class="project-info">
            <span class="project-summary bbq-editable">{{ project.summary }}</span>
        </div>
        <div class="project-info">
            <span class="project-category bbq-not-editable">{{ project.category }}</span>
        </div>
        <div class="project-info">
            <span class="project-status bbq-editable">{{ project.status }}</span>
        </div>
        <div class="project-info">
            <span class="project-pitch bbq-editable">{{ project.pitch }}</span>
        </div>
        <div class="project-info">
            <span class="project-tech bbq-editable">{{ project.tech }}</span>
        </div>
        <div class="project-info">
            <span class="project-keywords bbq-editable">{{ project.keywords }}</span>
        </div>
        <div class="project-info">
            <span class="project-creator bbq-not-editable">{{ project.creator }}</span>
        </div>
        <div class="project-info">
            <span class="project-owners bbq-not-editable">{{ project.owners }}</span>
        </div>
        <div class="project-info">
            <span class="project-goals bbq-not-editable">{{ project.goals }}</span>
        </div>
        <div class="project-info">
            <span class="project-tiers bbq-not-editable">{{ project.tiers }}</span>
        </div>
        <div class="project-info">
            <span class="project-avatars">
                {% for each_avatar in project.avatar %}
                    <img data-key="{{ each_avatar.urlsafe() }}" src="/_assets/blob/serve/{{ each_avatar.get().asset.urlsafe() }}">
                {% else %}
                    NO AVATARS.
                {% endfor %}
            </span>
        </div>
        <div class="project-info">
            <div id="project-{{ encrypt(project.key.urlsafe()) }}-video">
                <span class="project-videos">
                    {% for each_video in project.video %}
                        <span class="project-video bbq-not-editable">{{ each_video.get().url }}</span>
                    {% else %}
                        NO VIDEOS.
                    {% endfor %}
                </span>
                <div class="add-project-video">
                    <input type="text" name="video-url">
                    <span class="vimeo-label">Vimeo</span>
                    <input type="radio" name="provider" value="VIMEO">
                    <span class="vimeo-label">YouTube</span>
                    <input type="radio" name="provider" value="YOUTUBE">
                    <button id="add-project-{{ encrypt(project.key.urlsafe()) }}-video" type="button" class="add-project-video-btn">+ Add Video</button>
                </div>
            </div>
        </div>
        <div class="project-info">
            <span class="project-images">
                {% for image in project.images %}
                    {# FUTURE <img data-key="{{ image.urlsafe() }}" src="{{ link('serve-asset', image.get().asset.urlsafe()) }}"> #}
                    <img data-key="{{ image.urlsafe() }}" src="/_assets/blob/serve/{{ image.get().asset.urlsafe() }}">
                {% else %}
                    NO IMAGES.
                {% endfor %}
            </span>
        </div>
        <div class="project-actions">
            <button class="delete" type="button">delete</button>
            <button class="start-edit" type="button">edit</button>
            <button class="cancel-edit" type="button" style="display: none;">cancel</button>
            <button class="save-edit" type="button" style="display: none;">save</button>
            <button class="go-live" type="button">Go-Live!</button>
            <button class="suspend" type="button">Suspend</button>
            <button class="shutdown" type="button">Shut Down</button>
            <div id="project-{{ encrypt(project.key.urlsafe()) }}-avatar" class="drop-box">
                DROP AVATAR HERE
            </div>
            <div id="project-{{ encrypt(project.key.urlsafe()) }}-image" class="drop-box">
                DROP IMAGE HERE
            </div>
        </div>
    </div>
    {% else %}
    <div>No projects yet!</div>
    {% endfor %}
</div>

