<h2>Categories!</h2>
<div id="category-container">
    {% for category in categories %}
    <div class="category">
        <div class="category-info">
            <span class="category-key" style="display: none;">{{ category.key.urlsafe() }}</span>
            <label>Name: </label>
            <span class="category-name editable">{{ category.name }}</span>
            <label>Slug: </label>
            <span class="category-slug editable">{{ category.slug }}</span>
            <label>Description: </label>
            <span class="category-description editable">{{ category.description }}</span>
        </div>
        <div class="category-actions">
            <button class="delete" type="button">delete</button>
            <button class="start-edit" type="button">edit</button>
            <button class="cancel-edit" type="button" style="display: none;">cancel</button>
            <button class="save-edit" type="button" style="display: none;">save</button>
        </div>
    </div>
    {% endfor %}
</div>
<button id="show-new-category-btn" class="show-new-inline">+ Add New Category</button>
<div id="new-category-inline" class="inline-form" style="display: none;">
    <form id="new-category-frm">
        <p>
            <label for="new-category-name-input">Name:</label>
            <input type="text" id="new-category-name-input" name="name">
        </p>
        <p>
            <label for="new-category-url-input">URL Slug:</label>
            <input type="text" id="new-category-url-input" name="url">
        </p>
        <p>
            <label for="new-category-description-input">Description:</label>
            <input type="text" id="new-category-description-input" name="description">
        </p>
        <p>
            <button id="save-new-category-btn" class="save-new-inline" type="button">Yeah, add that!</button>
            <button id="cancel-new-category-btn" class="cancel-new-inline" type="button">Never mind.</button>
        </p>
    </form>
</div>
