<h2>Categories!</h2>
<a id="a-new-category-dialog" href="#new-category-dialog">+ Add New Category</a>
<div id="category-container">
    <div class="category-header">
        <div class="bbq-col">Name</div>
        <div class="bbq-col">Slug</div>
        <div class="bbq-col">Description</div>
    </div>
    {% for category in categories %}
    <div id="category-{{ encrypt(category.key.urlsafe()) }}" class="category">
        <div class="category-info">
            <span class="category-name bbq-editable">{{ category.name }}</span>
        </div>
        <div class="category-info">
            <span class="category-slug bbq-not-editable">{{ category.slug }}</span>
        </div>
        <div class="category-info">
            <span class="category-description bbq-editable">{{ category.description }}</span>
            <span class="category-key" style="display: none;">{{ encrypt(category.key.urlsafe()) }}</span>
        </div>
        <div class="category-actions">
            <button class="delete" type="button">delete</button>
            <button class="start-edit" type="button">edit</button>
            <button class="cancel-edit" type="button" style="display: none;">cancel</button>
            <button class="save-edit" type="button" style="display: none;">save</button>
        </div>
    </div>
    {% endfor %}
</div>
<div id="new-category-dialog" class="pre-modal bbq-dialog" style="opacity: 0;">
    <form id="new-category-frm">
        <p>
            <label for="new-category-name-input">Name:</label>
            <input type="text" id="new-category-name-input" name="name">
        </p>
        <p>
            <label for="new-category-url-input">URL Slug:</label>
            <input type="text" id="new-category-url-input" name="url">
        </p>
        <p>
            <label for="new-category-description-input">Description:</label>
            <input type="text" id="new-category-description-input" name="description">
        </p>
        <p>
            <button id="save-new-category-btn" class="save-new-dialog" type="button">Yeah, add that!</button>
            <button id="cancel-new-category-btn" class="cancel-new-dialog" type="button">Never mind.</button>
        </p>
    </form>
</div>
