{% extends "layout/layout_base.html" %}

{% block postnorth %}
    <link rel="stylesheet" href="/assets/style/static/compiled/openfire/bbq.css">
    <link rel="stylesheet" href="/assets/style/static/compiled/jquery.dataTables.css">
{% endblock %}

{% block main %}

    {% block moderate %}
        MODERATION
    {% endblock %}

{% endblock %}

{% block postsouth %}
    <script type="text/javascript" language="javascript" src="/assets/js/static/core/jquery/jquery.dataTables.min.js"></script>
{% endblock %}
