{% extends "layout/layout_base.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset.style('landing', 'openfire') }}">
{% endblock stylesheets %}

{# These blocks intentionally left empty to disable the tinylogo and leftnav on the homepage. #}
{%- block leftnav -%}{%- endblock leftnav -%}
{%- block tinylogo -%}{%- endblock tinylogo -%}

{% block main %}

<!-- Main Masthead -->
    <div id='masthead'>
        <div class="left">
            <img id='oflogo' src='https://d2ipw8y1masjpy.cloudfront.net/static/branding/openfire_transparent_optimized.png' alt='openfire!' width='600' height='173' />
            <h1 id="title"><span class='lightorange'>momentum for</span> <span class='darkorange'>positive disruption</span></h1>
        </div>
        <div id="how-it-works-button" class="right">
            <a href id="a-how-it-works">How it works&nbsp;&nbsp;&gt;</a>
        </div>

    </div><!-- #masthead -->

    <div id='content'>

        <section id='projects' class='cardstack' role='region'>

            <h2 class="editable">Projects</h2>
            <div class='section-wrap'>
            {% if projects %}
                {% for project in projects %}
                    <!-- project card for {{ project.slug }} -->
                    <div class='project-card' data-project='{{ project.slug }}'>
                        <a href="{{ link('custom_url', customurl=project.slug) }}">
                            <div class='project-icon' data-name='{{ project.name }}' data-description='{{ project.summary }}'>
                                {% if project.avatar %}
                                    <img src="{{ asset.image('projects/cardstock', project.avatar) }}" title="{{ project.name }} - {{ project.summary }}" />
                                {% else %}
                                    <img src="http://placehold.it/140x120" />
                                {% endif %}
                            </div>
                        </a>
                        <div class='project-progress' style='width: {{ util.random.randint(1, 100) }}%'>
                        </div>
                    </div> <!-- end project card for {{ project.slug }} -->
                {% endfor %}
            {% else %}
                <div class='ohnoes'>
                    Oh noez, no projects!
                </div>
            {% endif %}
            </div>

        </section><!-- #projects -->

        <section id='activity' class='newsfeed' role='region'>

            <h2>Activity</h2>
            <div class="section-wrap">
                <!--<ul class='feed'>
                    <li class='feed-item'>
                        <span class="datetime">
                            &nbsp;
                        </span>
                    </li>
                </ul>-->

                <div class="pre-tabs" id="tabset-test-1" data-options='{"width":"400px"}'>
                    <a href="#tab-1">Tab 1</a>
                    <a href="#tab-2">Tab 2</a>
                    <a href="#tab-3">Tab 3</a>
                    <a href="#tab-4">Tab 4</a>
                    <div id="tab-1" class='pre-uploader'>
                        <h3>I am the first tab</h3>
                    </div>
                    <div id="tab-2" class="mini-editable">
                        <h3>UND I AM ZE SECUND TAB</h3>
                        <div>und we are testing NESTING</div>
                        <div>und also mini-editability?</div>
                    </div>
                    <div id="tab-3">ahnd ah ahm thah thahrd tahb</div>
                    <div id="tab-4">.....</div>
                </div>
            </div>

        </section><!-- #activity -->

     </div><!-- #content -->

<div class="pre-modal" id="how-it-works" data-title="How it works!" data-options='{"ratio":{"x":0.7,"y":0.7}}'>
    <h1>How it works!</h1>
    <p>I will eventually be content that explains what the heck this awesome-looking site is about!</p>
</div>
{% endblock %}
