{% extends "layout/layout_base.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset.style('landing', 'openfire') }}">
    <link rel="stylesheet" href="/assets/style/static/compiled/nv.d3.css">
{% endblock stylesheets %}

{# These blocks intentionally left empty to disable the tinylogo and leftnav on the homepage. #}
{%- block leftnav -%}{%- endblock leftnav -%}
{%- block tinylogo -%}{%- endblock tinylogo -%}

{% block main %}

<!-- Main Masthead -->
    <div id='masthead'>
        <div class="left">
            <img id='oflogo' src='{{ asset.image('branding/oflogo', 'openfire_transparent_optimized.png') }}' alt='openfire!' width='600' height='173' />
            <h1 id="title"><span class='lightorange'>momentum for</span> <span class='darkorange'>positive disruption</span></h1>
        </div>
        <div id="how-it-works-button" class="right">
            <a href="#how-it-works" id="a-how-it-works">How it works&nbsp;&nbsp;&gt;</a>
        </div>

    </div><!-- #masthead -->

    <div id='content'>

        <section id='projects' class='cardstack' role='region'>

            <h2>Projects</h2>
            <div class='section-wrap'>
                <div id="project-cards">
                {% if projects %}
                    {% for project in projects %}
                        <!-- project card for {{ project.slug }} -->
                        <div class='project-card' data-project='{{ project.slug }}'>
                            <a href="{% if project.slug %}{{ link('custom_url', customurl=project.slug) }}{% else %}{{ link('project/home', key=project['key'].urlsafe()) }}{% endif %}">
                                <div class='project-icon' data-name='{{ project.name }}' data-description='{{ project.summary }}'>
                                    {% if project.avatar %}
                                        {% if project.avatar.location %}
                                        <img src="{{ project.avatar.location }}" width="140" height="120" title="{{ project.name }} - {{ project.summary }}" />
                                        {% else %}
                                            {% if project.avatar.url %}
                                                <img src="{{ project.avatar.url }}" title="{{ project.name }} - {{ project.summary }}" />
                                            {% else %}
                                                <img src="http://placehold.it/140x120" />
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </a>
                            <div class='project-progress' style='width: {{ project.progress if project.progress < 100 else 100 }}%'>
                            </div>
                        </div> <!-- end project card for {{ project.slug }} -->
                    {% endfor %}
                {% else %}
                    <div class='ohnoes'>
                        Oh noez, no projects!
                    </div>
                {% endif %}
                </div>
            </div>

        </section><!-- #projects -->

        <section id='activity' class='newsfeed' role='region'>

            <h2>Activity</h2>
            <div class="section-wrap">
                <div class='activity-table'>
                    <div class='activity-row'>
                        <div class='activity-cell dropshadow'>
                            <label>Spark Lines</label>
                            <div class="graph" id="spark-graph"><svg></svg></div>
                        </div>
                        <div class='activity-cell dropshadow'>
                            <label>Donations by Category</label>
                            <div class="graph" id="category-graph"><svg></svg></div>
                        </div>
                    </div>
                    <div class='activity-row'>
                        <div class='activity-cell dropshadow'>
                            <label>Projects Funded</label>
                            <div class="graph" id="project-graph"><svg></svg></div>
                        </div>
                        <div class='activity-cell dropshadow'>
                            <label>Metrics</label>
                            <div class="graph" id="activity-metrics">
                                <div>
                                    <label class="metric-lbl">disrupting projects:</label>
                                    <div class="project-count">37</div>
                                </div>
                                <div>
                                    <label class="metric-lbl">total raised for disruption:</label>
                                    <div class="total-raised">$32,102,712</div>
                                </div>
                                <div>
                                    <label class="metric-lbl">from a total of</label>
                                    <div class="total-donations">1,352</div>
                                    <label class="metric-post-lbl">individual donations</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- #activity -->

     </div><!-- #content -->

<div class="pre-modal" id="how-it-works" data-title="How it works!" data-options="{&quot;ratio&quot;:{&quot;x&quot;:0.6,&quot;y&quot;:0.6}}">

    <div {{ {
        'id': 'how-it-works-wrap',
        'data-keyname': 'how-it-works-content' if security.permissions.admin else none,
        'data-namespace': '_system_' if security.permissions.admin else none,
        'class': 'dynamic mini-editable' if security.permissions.admin else 'dynamic'
    }|xmlattr }}>
        {% content "how-it-works-content", "_system_" %}
            <h1>Welcome to <span class="lightorange">open</span><span class="darkorange">fire</span>!</h1>
            <p>hello, <a href="http://openfi.re">openfi.re</a> trusted tester!</p>
            <p>You must be interested in disruptive innovation... and boy, have you come to the right place.</p>
            <p>
                Every technologist, hacker or designer we meet has a secret project that they know can change the world. Usually, that project is more about creating public value than private investor value. But generally, the psychology &amp; logistics around their lack of investibility or positively-disruptive aims are enough to keep such projects from starting &amp; happening. But Kickstarter (and particular project successes, such as Diaspora) have proven that there is a public appetite for supporting hackers for a cause or a mission. We are making that process easier, and scaling it up.
            </p>
            <p>Won't that be cool?</p>
            <p>love, the <span class="lightorange">open</span><span class="darkorange">fi.re</span> team</p>.
        {% endcontent %}
    </div>
</div>
{% endblock %}

{% block post_jsready %}
		window.setTimeout(function() {
			var graph = new ActivityGraph();
		}, 250);
{%- endblock post_jsready -%}
