{% extends "layout/layout_base.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset.style('landing', 'openfire') }}">
{% endblock stylesheets %}

{# These blocks intentionally left empty to disable the tinylogo and leftnav on the homepage. #}
{%- block leftnav -%}{%- endblock leftnav -%}
{%- block tinylogo -%}{%- endblock tinylogo -%}

{% block main %}

<!-- Main Masthead -->
    <div id='masthead'>
        <div class="left">
            <img id='oflogo' src='https://d2ipw8y1masjpy.cloudfront.net/static/branding/openfire_transparent_optimized.png' alt='openfire!' width='600' height='173' />
            <h1 id="title"><span class='lightorange'>momentum for</span> <span class='darkorange'>positive disruption</span></h1>
        </div>
        <div id="how-it-works-button" class="right">
            <a href="#how-it-works" id="a-how-it-works">How it works&nbsp;&nbsp;&gt;</a>
        </div>

    </div><!-- #masthead -->

    <div id='content'>

        <section id='projects' class='cardstack' role='region'>

            <h2 class="editable">Projects</h2>
            <div class='section-wrap'>
                <div id="project-cards">
                {% if projects %}
                    {% for project in projects %}
                        <!-- project card for {{ project.slug }} -->
                        <div class='project-card' data-project='{{ project.slug }}'>
                            <a href="{% if project.slug %}{{ link('custom_url', customurl=project.slug) }}{% else %}{{ link('project/home', key=project['key'].urlsafe()) }}{% endif %}">
                                <div class='project-icon' data-name='{{ project.name }}' data-description='{{ project.summary }}'>
                                    {% if project.avatar %}
                                        {% if project.avatar.location %}
                                        <img src="{{ project.avatar.location }}" width="140" height="120" title="{{ project.name }} - {{ project.summary }}" />
                                        {% else %}
                                            {% if project.avatar.url %}
                                                <img src="{{ project.avatar.url }}" title="{{ project.name }} - {{ project.summary }}" />
                                            {% else %}
                                                <img src="http://placehold.it/140x120" />
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </a>
                            <div class='project-progress' style='width: {{ project.progress if project.progress < 100 else 100 }}%'>
                            </div>
                        </div> <!-- end project card for {{ project.slug }} -->
                    {% endfor %}
                {% else %}
                    <div class='ohnoes'>
                        Oh noez, no projects!
                    </div>
                {% endif %}
                </div>
            </div>

        </section><!-- #projects -->

        <section id='activity' class='newsfeed' role='region'>

            <h2>Activity</h2>
            <div class="section-wrap">
                <div class='activity-table'>
                    <div class='activity-row'>
                        <div class='activity-cell dropshadow'>
                            <label>Spark Lines</label>
                            <div class="graph" id="spark-graph"></div>
                        </div>
                        <div class='activity-cell dropshadow'>
                            <label>Where Donations are Going</label>
                            <div class="graph" id="category-graph"></div>
                        </div>
                    </div>
                    <div class='activity-row'>
                        <div class='activity-cell dropshadow'>
                            <label>Recent Backers</label>
                            <div class="graph" id="backers-graph"></div>
                        </div>
                        <div class='activity-cell dropshadow'>
                            <label>Metrics</label>
                            <div class="graph" id="activity-metrics">
                                <div>
                                    <label class="projects-lbl">disrupting projects:</label>
                                    <div class="project-count">37</div>
                                </div>
                                <div>
                                    <label class="raised-lbl">total raised for disruption:</label>
                                    <div class="total-raised">$32,102,712</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- #activity -->

     </div><!-- #content -->

<div class="pre-modal" id="how-it-works" data-title="How it works!" data-options="{&quot;ratio&quot;:{&quot;x&quot;:0.6,&quot;y&quot;:0.6}}">
    <div id="how-it-works-wrap" class="mini-editable">
        <h1>Welcome to <span class="lightorange">open</span><span class="darkorange">fire</span>!</h1>
        <p>hello, <a href="http://openfi.re">openfi.re</a> trusted tester!</p>
        <p>we believe the beauty and power of technology lies in its ability to apply abstract models of efficiency to the very real world around us, often effecting radical positive change in the process.</p>
        <p></p>
        <p>what do <em>you</em> think?</p>
        <p></p>
        <p>love, the <span class="lightorange">open</span><span class="darkorange">fi.re</span> team</p>.
    </div>
</div>
{% endblock %}

{% block post_jsready %}
		window.setTimeout(function() {
			var graph = new ActivityGraph();
		}, 250);
{%- endblock post_jsready -%}
