{% extends "core/base_web.html" %}
{% from "macros/eggs.html" import random_greeting %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset.style('main', 'compiled') }}">
{% endblock stylesheets %}

{% block jstemplates %}
    <script type="text/template" id="Button">
        <button[[[@attributes]]] [[[=_key]]]="[[[=_val]]]"[[[/attributes]]]>[[[=content]]]</button>
    </script>
    <script type="text/template" id="TierEditModal">
        <div id="project-tier-editor" class="pre-modal" style="opacity: 0;" data-title="editing project tiers...">
            <form id="project-tier-editor-form">
                [[[>tiers]]][[[+TierEditModalItem]]][[[/tiers]]]
            </form>
        </div>
    </script>
    <script type="text/template" id="TierEditModalItem">
        <div id="[[[<type]]]-editing-[[[<index]]]" class="[[[&1]]]">
            <div class="left" style="margin-right: 10px; max-width: 35%">
                amount: <input type="text" id="[[[&1]]]-amount-[[[&2]]]" class="[[[&1]]]-field amount" data-validation="number" data-label="amount" contenteditable=true placeholder="[[[=amount]]]"></input>
                <br>
                name: <input type="text" id="[[[&1]]]-name-[[[&2]]]" class="[[[&1]]]-field name" data-validation="alpha" data-label="name" contenteditable=true placeholder="[[[=name]]]"></input>
                <br>
            </div>
            description:
            <br>
            <textarea id="[[[&1]]]-description-[[[&2]]]" class="rounded [[[&1]]]-field description" data-label="description" contenteditable=true>[[[description]]][[[=description]]][[[:description]]]default description[[[/description]]]</textarea>
            <br>
            [[[>buttons]]]
                [[[+Button]]]
            [[[/buttons]]]
        </div>
    </script>
    <script type="text/template" id="CommentItem">
        <div class="comment" id="">
            <span class="avatar-small"><img src="" width="32" height="32"></span>
            <span class="comment-content">
                <a href="https://openfi.re/[[[<username]]]">[[[&1]]]</a>&nbsp;
                [[[=content]]]<br>
                <span class="shh">[[[=created]]]</span>
            </span>
        </div>
    </script>
    <script type="text/template" id="ProfileCard">
        <div class="profile-card">
            <a href="[[[=url]]]">
                <div class="avatar" data-name="[[[=name]]]">
                    <img src="[[[=avatar_url]]]">
                </div>
            </a>
            <div class="accounts">
            [[[>accounts]]]
                <a class="icon [[[=service]]]" href="[[[=url]]]"></a>
            [[[/accounts]]]
            </div>
        </div>
    </script>
    <script type="text/template" id="TopicEditItem">
        <span class="interest topic-edit clear" data-topic="[[[=key]]]">
            <div class="right">
                <span class="ctrl promote">&#xf0020;</span>
                <span class="ctrl demote">&#xf001f;</span>
                <span class="ctrl remove">&#xf0016;</span>
            </div>
            [[[=name]]]
        </span>
    </script>
    <script type="text/template" id="TopicTag">
        <span class="interest topic tag" data-topic-slug="[[[=slug]]]">
            [[[=name]]]
            <span class="delete-tag">x</span>
        </span>
    </script>
    <script type="text/template" id="SystemNotification" data-singleton='true'>
        <div id="openfire-notification" class="notification [[[=level]]]" style="opacity: 0; display: none;">
            <h1>[[[=title]]]</h1>
            <p>[[[=message]]]</p>
            [[[confirm]]]
                <button id="notification-yes">yes</button>
                <button id="notification-no">no</button>
            [[[/confirm]]]
            [[[alert]]]
                <button id="notification-ok">ok</button>
            [[[/alert]]]
        </div>
    </script>
{% endblock jstemplates %}

{% block header %}
{% block tinylogo %}
<div id='tinylogo'>
    <a title="openfire home" href='{{ link("landing") }}'><img src='{{ asset.image("branding/oflogo", "of_small_transparent.png") }}' /></a>
</div>
{% endblock tinylogo %}

<nav role="navigation">

	{% block leftnav %}
	<ul class='left'>
		<li><a href="{{ link('landing') }}" title="openfire home">Home</a></li>
		<li><a href="{{ link('propose/landing') }}" title="browse projects">Propose a Project</a></li>
	</ul>
	{% endblock leftnav %}

	{% block rightnav %}
	<ul class='right'>

		{% if security.current_user %}  {# if the user is logged in... @TODO #}
			<li class='profiletab widget'>

				<div id='me'>
					<a href='#' id='profile_trigger' class='target-link autoclose' data-href="#profile_dropdown" title='Profile'>{{ random_greeting(security.current_user, security.session) }}
						<img {{ {
							'src': security.current_user.has_avatar() and security.current_user.get_avatar_url('jpg', '32') or gravatarify(security.current_user.email[0].id(), 'jpg', '32'),
							'width': '32',
							'height': '32',
							'alt': 'you!',
							'onclick': "javascript:window.location.href='%s';" % link('user/me')
						}|xmlattr }} /></a>
				</div>

				<div id='profile_dropdown' class='xhidden'>
					<a href='{{ link("user/me") }}' title='You!'>Profile</a>
					<a href='{{ link("user/account", username=security.current_user.username) }}' title="Account">Account</a>
					<a href='{{ link("auth/logout") }}' title='Log Out'>Log Out</a>
				</div>
			</li>

		{% else %}
			<li><a id='login_trigger' href="{{ link('auth/login') }}" title="Log In">Log In &amp; Signup</a></li>
		{% endif %}

	</ul>
	{% endblock rightnav %}
</nav>
{% endblock %}

{% block main %}
{% endblock main %}

{% block footer %}
    <div id='footer-content'>
        {% block footerleft  %}
            <div id='system-info'>
                Found a bug? <a href="https://plus.google.com/113158669960080789811" rel="publisher">Let us know!</a>
            </div>
        {% endblock footerleft %}

        {% block footerright %}
            <div id="copyright">
                &copy; 2012, openfire
            </div>
        {% endblock footerright %}

        {% include "snippets/footer.html" with context %}

    </div>


{% endblock footer %}
