{% extends "core/base_web.html" %}
{% from "macros/eggs.html" import random_greeting %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset.style('main', 'compiled') }}">
{% endblock stylesheets %}

{% block jstemplates %}
	<script id='sample' type='apptools/template'></script>
{% endblock jstemplates %}

{% block header %}
{% block tinylogo %}
<div id='tinylogo'>
    <a title="openfire home" href='{{ link("landing") }}'><img src='{{ asset.image("branding/oflogo", "of_small_transparent.png") }}' /></a>
</div>
{% endblock tinylogo %}

<nav role="navigation">

	{% block leftnav %}
	<ul class='left'>
		<li><a href="{{ link('landing') }}" title="openfire home">Home</a></li>
		<li><a href="{{ link('propose/landing') }}" title="browse projects">Propose a Project</a></li>
	</ul>
	{% endblock leftnav %}

	{% block rightnav %}
	<ul class='right'>

		{% if security.current_user %}  {# if the user is logged in... @TODO #}
			<li class='profiletab widget'>

				<div id='me'>
					<a href='#' id='profile_trigger' class='target-link autoclose' data-href="#profile_dropdown" title='Profile'>{{ random_greeting(security.current_user, security.session) }}
						<img {{ {
							'src': security.current_user.has_avatar() and security.current_user.get_avatar_url('jpg', '32') or gravatarify(security.current_user.email[0].id(), 'jpg', '32'),
							'width': '32',
							'height': '32',
							'alt': 'you!',
							'onclick': "javascript:window.location.href='%s';" % link('user/me')
						}|xmlattr }} /></a>
				</div>

				<div id='profile_dropdown' class='xhidden'>
					<a href='{{ link("user/me") }}' title='You!'>Profile</a>
					<a href='{{ link("user/account", username=security.current_user.username) }}' title="Account">Account</a>
					<a href='{{ link("auth/logout") }}' title='Log Out'>Log Out</a>
				</div>
			</li>

		{% else %}
			<li><a id='login_trigger' href="{{ link('auth/login') }}" title="Log In">Log In &amp; Signup</a></li>
		{% endif %}

	</ul>
	{% endblock rightnav %}
</nav>
{% endblock %}

{% block main %}
{% endblock main %}

{% block footer %}
    <div id='footer-content'>
        {% block footerleft  %}
            <div id='system-info'>
                <a href="https://plus.google.com/113158669960080789811" rel="publisher">Find us on Google+</a>
            </div>
        {% endblock footerleft %}

        {% block footerright %}
            <div id="copyright">
                &copy; 2012, openfire
            </div>
        {% endblock footerright %}

        {% include "snippets/footer.html" with context %}

    </div>


{% endblock footer %}
