{% extends "layout/layout_base.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset.style('project', 'openfire') }}">
{% endblock stylesheets %}

{% block main %}

    <!-- Main Masthead -->
    <div id='masthead'>
    </div><!-- #masthead -->

    <div id='content'>
        <div id="fb-root"></div>
        <div id='project'>

            <div id='welcomebox'>
                <div id='promote'>
                </div>
                {% block media %}
                    {% if video %}
                        {% if video.provider == 'vimeo' %}
                            {% if video.ext_id %}
                                <iframe src="http://player.vimeo.com/video/{{ video.ext_id }}?title=0&amp;byline=0&amp;portrait=0&amp;color=BADA55&amp;api=1&amp;player_id=prj" width="640" height="360" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                            {% else %}
                                <iframe src="{{ video.url }}" width="640" height="360" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                            {% endif %}
                        {% else %}
                            {% if video.provider == 'youtube' %}
                                <iframe width="640" height="360" src="{{ video.url }}" frameborder="0" allowfullscreen></iframe>
                            {% else %}
                                <img src="http://placehold.it/640x360/222222&text=video" />
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <img src="http://placehold.it/640x360/222222&text=video" />
                    {% endif %}
                {% endblock media %}
            </div>

            <div id='sidebar'>
                <header>
                    <div id='sidetitle' class='fancy title'><h1>{{ project.name }}</h1></div>
                    <div id='sidebuttons' class='buttons'>
                        <button id='follow'>F</button>
                        <button id='share'>S</button>
                    </div>
                </header> <!-- end header -->
                <section id='quickinfo'>
                    {% block right %}
                        <b>project owners:</b>
                        <ul>
                            {% for owner in project.owners %}
                                <li>{{ owner.id() }}</li>
                            {% endfor %}
                        </ul>
                        <br />

                        <b>project tiers:</b>
						{% if project.tiers %}
						<ul>
							{% for tier in project.tiers %}
								<li>Tier</li>
						    {% endfor %}
						 </ul>
						{% else %}
							<br /><b>no project tiers yet! :(</b><br />
						{% endif %}
						<br />

						<b>project goals:</b>
						{% if project.goals %}
                        <ul>
							{% for goal in project.goals %}
								<li>Goal</li>
							{% endfor %}
                        </ul>
						{% else %}
							<br /><b>no project goals yet! :(</b><br />
						{% endif %}
                    {% endblock %}
                </section> <!-- end #quickinfo -->
                <section id='backers'>
                    <div id='backproject'>
                        <button id='back'>Back</button>
                    </div> <!-- end #backproject -->
                    <div id='backer_summary'>
                        backerz
                    </div> <!-- end #backer_summary -->
                </section> <!-- end #backers -->
            </div> <!-- end #sidebar -->

            <article id='deets'>

                <!-- project title -->
                <div id='projecttitle'>
                    <h1>{{ project.name }}</h1>
                    <div id='deetactions'>
                        <div class='buttongroup'>
                            <h6>Share This</h6>
                            <button id='fbshare' class='sharebutton'>Fb</button>
                            <button id='twshare' class='sharebutton'>Tw</button>
                            <button id='g+share' class='sharebutton'>G+</button>
                        </div> <!-- end .buttongroup -->
                    </div> <!-- end #deetactions -->
                </div> <!-- end #projecttitle -->

                <!-- intro/pitch -->
                <section id='intro' class='prsection'>
                    <h2>Project Intro</h2>
                    {% block description %}
                      <p>{{ project.summary }}</p>
                    {% endblock %}
                </section><!-- end #intro -->

                <!-- technologies -->
                <section id='technologies' class='prsection'>
                    <h2>Technologies</h2>
                    <p>{{ project.tech }}</p>
                </section><!-- end #technologies -->

                <!-- team -->
                <section id='team' class='prsection'>
                    <h2>Team</h2>
                    <p>TEAM</p>
                </section><!-- end #team -->

            </article><!-- end #project -->
        </div><!-- end #content -->
    </div>

{% endblock %}

{% block presouth %}
<script>

  // openfire project init
  window._cp = {
    ke: '{{ encrypt(project.key.urlsafe()) }}', // encrypted key
    {%- if util.config.debug -%}
    kd: '{{ project.key.urlsafe() }}', // unencrypted key
    {%- endif -%}
    i: project.key.id(), // key id
    {%- if project.current_user_following -%}
    f: true, // following?
    {%- else -%}
    f: false, // following?
    {%- endif -%}
    {%- if project.current_user_backed -%}
    b: true, // backed?
    {%- else -%}
    b: false, // backed?
    {%- endif -%}
    {%- if security.current_user.key in project.owners -%}
    o: true, // owner privs
    {%- else -%}
    o: false, // owner privs
    {%- endif -%}
    {%- if security.current_user.key in project.viewers -%}
    v: true // viewer privs
    {%- else -%}
    v: false // viewer privs
    {%- endif -%}
  };

</script>
{% endblock %}