{% extends "layout/layout_base.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset.style('project', 'openfire') }}">
{% endblock stylesheets %}

{% block main %}

    <!-- Main Masthead -->
    <div id='masthead'>

        <div id='welcomebox'>
            {% block media %}
                <img src="http://placehold.it/640x390/222222&text=bigvid" />
            {% endblock media %}
        </div>

    </div><!-- #masthead -->

    <div id='sidebar'>
        <div id='title' class='fancy'><h1>{{ project_slug }}</h1></div>
        <div class='contentwrap'>
            {% block right %}
                <div>
                    <p>Right sidebar for {{ project_slug }}</p>
                </div>
            {% endblock %}
        </div>
    </div>

    <div id='content'>

        <article id='project'>

            <!-- project title -->
            <h1>{{ project_slug }}</h1>

            <!-- intro/pitch -->
            <section id='intro'>
                {% block description %}
                    <div>
                      <p>Normally, this would have some text relating to {{ project_slug }}.</p>
                    </div>
                {% endblock %}
            </section><!-- end #intro -->

        </article><!-- end #project -->

    </div><!-- end #content -->

{% endblock %}
