{% extends "layout/layout_base.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset.style('project', 'openfire') }}">
{% endblock stylesheets %}

{% block main %}

    <!-- Main Masthead -->
    <div id='masthead'>
    </div><!-- #masthead -->

    <div id='content'>
        <div id="fb-root"></div>
        <div id='project'>

            <div id='welcomebox'>
                <div id='promote' data-section-title="admin">
                    <button id='promote-avatar' value="avatar">add avatar</button>
                    <button id='promote-image' value="image">add image</button>
                    <button id='promote-video' value="video">add video</button>
                    <button id='promote-goals' value="goals">edit goals</button>
                    <button id='promote-tiers' value="tiers">edit tiers</button>
                    <button id='promote-tiers' value="tiers">all&nbsp;&raquo;</button>
                </div>
                {% block media %}
                    {% if video %}
                        {% if video.provider == 'vimeo' %}
                        <div id='mainvideo' data-provider='vimeo' data-media-key='{{ encrypt(video.key.urlsafe()) }}'>
                            {% if video.ext_id %}
                                <iframe src="http://player.vimeo.com/video/{{ video.ext_id }}?title=0&amp;byline=0&amp;portrait=0&amp;color=BADA55&amp;api=1&amp;player_id=prj" width="640" height="360" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                            {% else %}
                                <iframe src="{{ video.url }}" width="640" height="360" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                            {% endif %}
                        </div>
                        {% else %}
                            {% if video.provider == 'youtube' %}
                            <div id='mainvideo' data-provider='youtube' data-media-key='{{ encrypt(video.key.urlsafe()) }}'>
                                <iframe width="640" height="360" src="{{ video.url }}" frameborder="0" allowfullscreen></iframe>
                            </div>
                            {% else %}
                                <img src="http://placehold.it/640x360/222222&text=video" />
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <img src="http://placehold.it/640x360/222222&text=video" />
                    {% endif %}
                {% endblock media %}
            </div>

            <div id='sidebar' class='pre-sticky'>
                <header>
                    <div id='sidetitle' class='fancy title'><h1>{{ project.name }}</h1></div>
                    <div id='sidebuttons' class='buttons'>
                        <button id='follow' class='momentron{%- if project.current_user_following -%} following{%- endif -%}'>&#xf007f;</button>
                        <button id='share' class='momentron'>&#xf0085;</button>
                    </div>
                </header> <!-- end header -->

                <hr class="hr-inset most">

                <section id='quickinfo'>
                    {% block right %}

                        <div id='global_progress'>
                            <!-- project progress -->
                            <div id='progress' data-value="{{ project.progress }}" data-max="100"{% if project.progress == 100 %} class="done"{% endif %}>
                                <div id='progress-inner' style='width: {{ project.progress }}%;'>{{ project.progress }}%</div>
                            </div>
                        </div><!-- end #global_progress -->

                        <div id='project_goals' data-section-title="goals">
                            {% if project.goals %}
                            <div id="project-goals-accordion" class='pre-accordion' data-options='{"axis":"vertical"}'>
                                {% set current_goal = false %}
                                {% for goal in goals %}
                                    <a href="#{{ encrypt(goal.key.urlsafe()) }}"{% if goal.amount < project.money %} class="reached"{% else %}{% if current_goal == false %} class="current"{% endif %}{% endif %}>{{ currency(goal.amount) }}</a>
                                    <div id="{{ encrypt(goal.key.urlsafe()) }}"{% if goal.amount < project.money %} class="reached none"{% else %}{% if current_goal == false %}{% set current_goal = true %} class="current none"{% else %} class="none"{% endif %}{% endif %}>
                                        <p>{% if goal.description != none %}{{ goal.description }}{% else %}  {% endif %}</p>
                                    </div>
                                {% endfor %}
                            </div>
                            {% else %}
                                <b>no project goals yet! :(</b>
                            {% endif %}
                        </div> <!-- end #project_goals -->

                        <div id='project_tiers'  data-section-title="tiers">
                            {% if project.tiers %}
                            <div id="project-tiers-accordion" class='pre-accordion' data-options='{"axis":"vertical"}'>
                                {% set current_tier = false %}
                                {% for tier in tiers %}
                                    <a href="#{{ encrypt(tier.key.urlsafe()) }}"{% if current_tier == false %} class="current"{% endif %}>{{ tier.name }} - {{ currency(tier.amount) }}</a>
                                    <div id="{{ encrypt(tier.key.urlsafe()) }}"{% if current_tier == false %}{% set current_tier = true %} class="current none"{% else %} class="none"{% endif %}>
                                        <p>{{ tier.description|safe }}</p>
                                    </div>
                                {% endfor %}
                             </div>

                            {% else %}
                                <b>no project tiers yet! :(</b>
                            {% endif %}
                        </div>

                    {% endblock %}
                </section> <!-- end #quickinfo -->

                <hr class="hr-inset most"></span>

                <section id='backers'>
                    <div id='backproject'>
                        <button id='back'><span id="back-text">Back this project</span></button>
                    </div> <!-- end #backproject -->
                    <div id='backer_summary'>
                        backerz
                    </div> <!-- end #backer_summary -->
                </section> <!-- end #backers -->

                <div id='owners' >
                    <b>project owners:</b>
                    <ul class='naked'>
                        {% for owner in owners %}
                            <li>
                                <div class='ownercard'>
                                    <img src="{{ gravatarify(owner.key.id(), 'jpg', '32') }}" width='32' height='32' alt='{{ owner.key.id() }}' />

                                    <div class='nametag' data-owner-key="{{ owner.key.urlsafe() }}" data-owner-firstname="{{ owner.firstname }}" data-owner-lastname="{{ owner.lastname }}">
                                        {%- if owner.customurl -%}<a href="{{ link('custom_url', customurl=owner.customurl.id()) }}">{{ owner.firstname }} {{ owner.lastname }}</a>
                                        {%- else -%}<a href="{{ link('user/profile', username=owner.key.id()) }}">{{ owner.firstname }} {{ owner.lastname }}</a>
                                        {%- endif -%}
                                        {%- if owner.location -%}
                                            <span class='location byline'>{{ owner.location }}</span>
                                        {%- endif -%}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div> <!-- end #owners -->
            </div> <!-- end #sidebar -->

            <article id='deets'>

                <!-- project title -->
                <div id='projecttitle'>
                    <h1 class="mini-editable" id="project-title-header">{{ project.name }}</h1>
                    <div id='deetactions'>
                        <div class='buttongroup' data-action="Share This">
                            <button id='fbshare' class='zocial facebook sharebutton icon'></button>
                            <button id='twshare' class='zocial twitter sharebutton icon'></button>
                            <button id='g+share' class='zocial googleplus sharebutton icon'></button>
                        </div> <!-- end .buttongroup -->
                    </div> <!-- end #deetactions -->
                </div> <!-- end #projecttitle -->

                <!-- project info tabset -->
                <div id='project-tabset' class='pre-tabs relative tabset' data-options='{"div_string":"section","width":"640px"}'>
                    <a href='#details-tab' class='tab-rounded'>project details</a>
                    <a href='#members-tab' class='tab-rounded'>project members</a>
                    <a href='#openfire-tab' class='tab-rounded'>social reach</a>

                    <!-- details-tab -->
                    <section id='details-tab' class='prsection absolute tab' style="opacity: 0">
                        <h2>Project Details</h2>
                        {% block description %}
                            <h3>Summary</h3>
                            <p>{{ project.summary }}</p>
                            <h3>Pitch</h3>
                            <p>{{ project.pitch }}</p>
                            <h3>Specifics</h3>
                            <ul class='naked'>
                                <li>Category: {{ project.category }}</li>
                                <li>Technology: {{ project.tech }}</li>
                                <li>Keywords: {{ project.keywords }}</li>
                            </ul>
                        {% endblock %}
                    </section><!-- end #details-tab -->

                    <!-- members-tab-->
                    <section id='members-tab' class='prsection absolute tab' style="opacity: 0">
                        <h2>Project Members</h2>
                        <p>This project has team members and an owner.</p>
                        <p>It was made possible by {{ project.backers }} generous backers, who have donated {{ currency(project.money) }} to date, placing this project {{ project.progress }}% of the way to its next support goal!</p>
                    </section><!-- end #members-tab-->

                    <!-- team -->
                    <section id='openfire-tab' class='prsection absolute tab' style="opacity: 0">
                        <h2>Social Reach</h2>
                        <p>TEAM</p>
                    </section><!-- end #team -->

                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>

            </article><!-- end #project -->
        </div><!-- end #content -->
    </div>

{% endblock %}

{% block presouth %}
<script>

  // openfire project init
  window._cp = {
    ke: '{{ encrypt(project.key.urlsafe()) }}',
    {%- if util.config.debug -%}
    kd: '{{ project.key.urlsafe() }}',
    {%- endif -%}
    i: {{ project.key.id() }},
    {%- if project.current_user_following -%}
    f: true,
    {%- else -%}
    f: false,
    {%- endif -%}
    {%- if project.current_user_backed -%}
    b: true,
    {%- else -%}
    b: false,
    {%- endif -%}
    {%- if security.current_user.key in project.owners -%}
    o: true,
    {%- else -%}
    o: false,
    {%- endif -%}
    {%- if security.current_user.key in project.viewers -%}
    v: true
    {%- else -%}
    v: false
    {%- endif -%}
  };

</script>
{% endblock %}
