{% extends "layout/layout_base.html" %}
{% from "macros/video.html" import video_embed %}

{% block postnorth %}
    <link rel="stylesheet" href="{{ asset.style('proposal', 'openfire') }}">
{% endblock postnorth %}

{% block main %}

    <!-- Main Masthead -->
    <div id='masthead'></div>
    <!-- #masthead -->

    <div id='content'>
        <div id="fb-root"></div>
        <div id='proposal'>

            {% if security.permissions.admin %}
                <div id="bbq" data-section-title="bbq">
                    {% if proposal.status == 's' %}
                        <span class="bbq-message">This proposal is awaiting admin action.</span>
                    {% endif %}
                    {% if proposal.status in ['s', 'r', 'd'] %}
                        <button id="bbq-promote" value="promote">promote to project</button>
                        <button id="bbq-reject" value="reject">reject proposal</button>
                    {% endif %}
                    {% if proposal.status in ['s', 'd'] %}
                        <button id="bbq-review" value="review">send for review</button>
                    {% endif %}
                    {% if proposal.status != 'a' %}
                        <button id="bbq-suspend" value="suspend">suspend proposal</button>
                    {% endif %}
                </div>
            {% endif %}

            {% if security.current_user.key in proposal.owners %}
                <div id='promote' data-section-title="admin">
                    <div id='promote-dropzone' class='dropzone'>drop images here</div>
                    {% if proposal.status in ['f', 'r', 'd'] %}
                        <button id='promote-goal' value="goals">edit goal</button>
                        <button id='promote-tiers' value="tiers">edit tiers</button>
                        <button id='promote-submit' value="submit" type="button">submit</button>
                    {% endif %}
                    {% if proposal.status in ['s', 'd'] %}
                        <button id='promote-reopen' value="reopen" type="button">re-open as draft</button>
                    {% endif %}
                    <button id='promote-add-team-member' value="add team member">add team member</button>
                    <button id='promote-add-viewers' value="add viewers">add viewers</button>
                </div>
            {% endif %}

            <div id='sidebar' class='pre-sticky'>
                <header>
                    <div id='sidebuttons' class='buttons'>
                        <button id='share' class='momentron'>&#xf0085;</button>
                    </div>
                    <div id='sidetitle' class='fancy title'><h1 data-href="#sidebar" class="target-link">{{ proposal.name }}</h1></div>
                </header> <!-- end header -->

                <hr class="hr-inset most">

                <section id='quickinfo'>
                    {% block right %}

                        <div id='initial_goal' data-section-title="goal">
                            {% if proposal.initial_goal %}
                                <a id="a-proposal-initial-goal" href="#"
                                    data-href="#proposal-initial-goal"
                                    class="target-link">
                                        Initial Funding Goal: {{ currency(proposal.initial_goal.amount) }}
                                </a>
                                <div id="proposal-initial-goal">
                                    <p>{{ proposal.initial_goal.description }}</p>
                                </div>
                            {% else %}
                                <b>No initial goal has been proposed. Propose one now (coming soon)!</b>
                            {% endif %}
                        </div><!-- end #active_goal -->

                        <div id='proposal_status'>
                            <span id='proposal-status'>Proposal is {{ proposal.status | proposal_status }}</span>
                        </div> <!-- end #proposal_status -->

                        <div id='proposal_next_steps'>
                            {% if proposal.initial_next_steps %}
                                <div class="sidebar-title">
                                    Potential next steps for this proposal
                                </div>
                                <div class="sidebar-title-subtext">
                                    (to be optionally voted on by backers)
                                </div>
                                <div id="proposal-next-steps-accordion" class='css-accordion widget'>
                                    {% for next_step in proposal.initial_next_steps %}
                                        <a id="a-proposal-initial-next-step-{{ loop.counter }}" href="#" data-href="#proposal-initial-next-step-{{ loop.counter }}" class="target-link">{{ next_step.summary }}</a>
                                        <div id="proposal-initial-next-step-{{ loop.counter }}" class="fold">
                                            <p>{{ next_step.description }}</p>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <b>no initial next steps have been proposed.</b>
                            {% endif %}
                        </div> <!-- end #proposal_next_steps -->

                        <div id='future_goal'>
                            <div class="sidebar-title">
                                Ultimate goal
                            </div>
                            {% if proposal.future_goal %}
                                <a id="a-proposal-future-goal" href="#" data-href="#proposal-future-goal" class="target-link">{{ proposal.future_goal.summary }}</a>
                                <div id="proposal-future-goal" class="fold">
                                    <p>{{ proposal.future_goal.description }}</p>
                                </div>
                            {% else %}
                                <b>no future goal has been proposed.</b>
                            {% endif %}
                        </div> <!-- end #future_goal -->

                        <div id='proposal_tiers'  data-section-title="tiers">
                            <div class="sidebar-title">
                                Donation tiers
                            </div>
                            {% if proposal.initial_tiers %}
                                <div id="proposal-tiers-accordion" class='css-accordion widget'>
                                    {% for tier in proposal.initial_tiers %}
                                        <a id="a-proposal-initial-tier-{{ loop.counter }}" href="#" data-href="#proposal-initial-tier-{{ loop.counter }}" class="target-link">{{ tier.name }} - {{ currency(tier.amount) }}</a>
                                        <div id="proposal-initial-tier-{{ loop.counter }}" class="fold">
                                            <p>{{ tier.description|safe }}</p>
                                        </div>
                                    {% endfor %}
                                 </div>
                            {% else %}
                                <b>no proposal tiers yet! :(</b>
                            {% endif %}
                        </div>

                    {% endblock right %}
                </section> <!-- end #quickinfo -->

                <hr class="hr-inset most"></span>

                <div id='owners' >
                    <b>proposal owners:</b>
                    <ul class='naked'>
                        {% for owner in owners %}
                            <li>
                                <div class='ownercard'>

                                    {% if owner.public or security.permissions.admin %}
                                        {% if owner.has_custom_url() %}
                                            <a {{ {

                                                'href': owner.get_custom_url(),
                                                'target': 'blank',
                                                'title': ' '.join([owner.firstname, owner.lastname])

                                            }|xmlattr }}>
                                        {% else %}
                                            <a {{ {

                                                    'href': owner.get_custom_url(),
                                                    'target': 'blank',
                                                    'title': ' '.join([owner.firstname, owner.lastname])

                                                }|xmlattr }}>
                                        {% endif %}
                                    {% endif %}
                                    <img {{ {

                                        'src': owner.has_avatar() and owner.get_avatar_url('jpg', '32') or gravatarify(owner.email[0].id(), 'jpg', '32'),
                                        'width': 32,
                                        'height': 32,
                                        'alt': ' '.join([owner.firstname, owner.lastname, '(%s)' % owner.username])

                                    }|xmlattr }} />

                                    <div class='nametag' data-owner-key="{{ owner.key.urlsafe() }}" data-owner-firstname="{{ owner.firstname }}" data-owner-lastname="{{ owner.lastname }}">
                                        {%- if owner.customurl -%}<a href="{{ link('custom_url', customurl=owner.customurl.id()) }}">{{ owner.firstname }} {{ owner.lastname }}</a>
                                        {%- else -%}<a href="{{ link('user/profile', username=owner.key.id()) }}">{{ owner.firstname }} {{ owner.lastname }}</a>
                                        {%- endif -%}
                                        {%- if owner.location -%}
                                            <span class='location byline'>{{ owner.location }}</span>
                                        {%- endif -%}
                                    </div>

                                    {% if owner.public or security.permissions.admin %}
                                        </a>
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div> <!-- end #owners -->
            </div> <!-- end #sidebar -->

            <div id='welcomebox'>
                {% block media %}
					{% if video %}
						{{ video_embed('mainvideo', page, video, video_config) }}
					{% else %}
						{{ video_embed('mainvideo', page, None, video_config, uploader=true) }}
					{% endif %}
                {% endblock media %}
            </div>

            <article id='deets'>

                <!-- proposal title -->
                <div id='proposaltitle'>
                    <h1 data-href="#proposal" class="target-link" id="proposal-title-header" data-options='{"bundle":"rich"}'>{{ proposal.name }}</h1>
                    <div id='deetactions'>
                        <div class='buttongroup' data-action="Share This">
                            <button id='fbshare' class='zocial facebook sharebutton icon'></button>
                            <button id='twshare' class='zocial twitter sharebutton icon'></button>
                            <button id='g+share' class='zocial googleplus sharebutton icon'></button>
                        </div> <!-- end .buttongroup -->
                    </div> <!-- end #deetactions -->
                </div> <!-- end #proposaltitle -->

                <!-- proposal info tabset -->
                <div id='proposal-tabset' class='pre-tabs relative tabset'>
                    <a href='#details-tab' class='tab-link tab-rounded'>proposal<br>details</a>
                    <a href='#members-tab' class='tab-link tab-rounded'>proposal<br>members</a>
                    <a href='#openfire-tab' class='tab-link tab-rounded'>social<br>reach</a>

                    <!-- details-tab -->
                    <div id='details-tab' class="tab" style="opacity: 0">
                        <section class='prsection'>
                            {% block description %}
                                <h3>Summary</h3>
                                <p>{{ proposal.summary }}</p>
                                <h3>Pitch</h3>
                                <p>{{ proposal.pitch }}</p>
                                <h3>Specifics</h3>
                                <ul class='naked'>
                                    <li>Category: {{ proposal.category }}</li>
                                    <li>Technology: {{ proposal.tech }}</li>
                                    <li>Keywords: {{ proposal.keywords }}</li>
                                </ul>
                            {% endblock description %}
                        </section>
                    </div><!-- end #details-tab -->

                    <!-- members-tab-->
                    <div id="members-tab" class="tab" style="opacity: 0">
                        <section class='prsection'>
                            <p>This proposal has team members and an owner.</p>
                            <p>It was made possible by {{ proposal.backers }} generous backers, who have donated {{ currency(proposal.money) }} to date, placing this proposal {{ proposal.progress }}% of the way to its next support goal!</p>
                        </section>
                    </div><!-- end #members-tab-->

                    <!-- team -->
                    <div id="openfire-tab" class="tab" style="opacity: 0">
                        <section class='prsection'>
                            <p>TEAM</p>
                        </section>
                    </div><!-- end #team -->

            </article><!-- end #proposal -->
        </div><!-- end #content -->
    </div>


{% endblock main %}




{% block presouth %}
    <script>

      // openfire proposal init
      window._cp = {
        ke: '{{ encrypt(proposal.key.urlsafe()) }}',
        {%- if util.config.debug -%}
        kd: '{{ proposal.key.urlsafe() }}',
        {%- endif -%}
        i: {{ proposal.key.id() }},
        {%- if proposal.current_user_following -%}
        f: true,
        {%- else -%}
        f: false,
        {%- endif -%}
        {%- if proposal.current_user_backed -%}
        b: true,
        {%- else -%}
        b: false,
        {%- endif -%}
        {%- if security.current_user.key in proposal.owners -%}
        o: true,
        {%- else -%}
        o: false,
        {%- endif -%}
        {%- if security.current_user.key in proposal.viewers -%}
        v: true
        {%- else -%}
        v: false
        {%- endif -%}
      };

    </script>
{% endblock presouth %}

