{% macro video_embed(id, page, video, video_config, uploader=False) %}

{% set encrypt = str %}

    {%- if video is not none -%}
	<script id='video-config' type='application/json' data-role='mediaconfig'>
	{{ {

	    'id': id,
	    'agent': {
		    'robust': page.robust,
		    'mobile': page.mobile
	    },
	    'media': {
		    'provider': video.provider,
		    'url': video.url,
		    'sources': {
			    'hidef': video.sources.get('raw', {}).get('hidef', ''),
			    'sdef': video.sources.get('raw', {}).get('sdef', ''),
			    'mobile': video.sources.get('raw', {}).get('mobile', ''),
			    'live': video.sources.get('raw', {}).get('live', ''),
			    'swf': ('//vimeo.com/moogaloop.swf?clip_id=%s' % video.name) if video.provider == 'vimeo' else 'youtube'
		    }
	    },
	    'features': {
	        'uploader': uploader,
	        'analytics': true,
	        'html5': {
		        'enabled': video_config.get('html5', {}).get('enable', false),
		        'forced': video_config.get('html5', {}).get('force', false)
		    }
	    }

	}|json|safe }}
	</script>
	{%- else -%}
	<script id='video-config' type='application/json' data-role='mediaconfig'>
	{{ {

		'id': id,
		'agent': {
			'robust': page.robust,
			'mobile': page.mobile
		},
		'media': null,
		'features': {
			'uploader': uploader,
			'analytics': true,
			'html5': {
				'enabled': video_config.get('html5', {}).get('enable', false),
				'forced': video_config.get('html5', {}).get('force', false)
			}
		}

	}|json|safe }}
    </script>
    {%- endif -%}

	{% if video is not none %}
	    {% if video.provider == 'vimeo' %}
	        {% if video_config.get('html5', {}).get('enable', false) %}
	            {% if video_config.get('html5', {}).get('force', false) or page.robust or page.mobile %}

	                {#  Native HTML5 Video  #}

	                {% if page.robust %}
	                    <div id='{{ id }}' data-provider='{{ video.provider }}' data-runtime='html5' data-profile='robust' data-media-key='{{ encrypt(video.key.urlsafe()) }}'>
	                        <div id='voverlay'>
	                            <img src="{{ asset.image('video', 'watermark.png') }}" alt='openfire!'>
	                        </div>
	                        <video controls width="713" height="400" preload="auto" poster="{{ video.sources.thumbnails['1280'] }}">
	                            <source src="{{ video.sources.raw.hidef }}">
	                        </video>
	                    </div>
	                {% elif page.mobile %}
	                    <div id='{{ id }}' data-provider='{{ video.provider }}' data-runtime='html5' data-profile='mobile'>
	                        <video controls width="713" height="400" preload="auto" poster="{{ video.sources.thumbnails.1280 }}">
	                            <source src="{{ video.sources.raw.live }}">
	                            <source src="{{ video.sources.raw.mobile }}">
	                        </video>
	                    </div>
	                {% else %}
	                    <div id='{{ id }}' data-provider='{{ video.provider }}' data-runtime='html5' data-profile='generic'>
	                        <video controls width="713" height="400" preload="auto" poster="{{ video.sources.thumbnails.1280 }}">
	                            <source src="{{ video.sources.raw.hidef }}">
	                            <source src="{{ video.sources.raw.live }}">
	                            <source src="{{ video.sources.raw.sdef }}">
	                        </video>
	                {% endif %}

	            {% else %}

	                {#  Vimeo Player  #}

	                <div id='{{ id }}' data-provider='{{ video.provider }}' data-media-key='{{ encrypt(video.key.urlsafe()) }}'>
	                    {% if video.ext_id %}
	                        <iframe src="http://player.vimeo.com/video/{{ video.ext_id }}?title=0&amp;byline=0&amp;portrait=0&amp;color=BADA55&amp;api=1&amp;player_id=prj" width="640" height="360" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	                    {% else %}
	                        <iframe src="{{ video.url }}" width="718" height="400" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	                    {% endif %}
	                </div>

	            {% endif %}
	        {% else %}

	                {#  Vimeo Player  #}

	                <div id='{{ id }}' data-provider='{{ video.provider }}' data-media-key='{{ encrypt(video.key.urlsafe()) }}'>
	                    {% if video.ext_id %}
	                        <iframe src="http://player.vimeo.com/video/{{ video.ext_id }}?title=0&amp;byline=0&amp;portrait=0&amp;color=BADA55&amp;api=1&amp;player_id=prj" width="640" height="360" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	                    {% else %}
	                        <iframe src="{{ video.url }}" width="718" height="400" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	                    {% endif %}
	                </div>

	        {% endif %}

	    {% else %}
	        {% if video.provider == 'youtube' %}
	        <div id='{{ id }}' data-provider='{{ video.provider }}' data-media-key='{{ encrypt(video.key.urlsafe()) }}'>
	            <iframe width="718" height="400" src="{{ video.url }}" frameborder="0" allowfullscreen></iframe>
	        </div>
	        {% else %}
				{% if uploader %}
					<div><b>UPLOADER!</b></div>
				{% else %}
		            <img src="http://placehold.it/718x400/222222&text=video" />
		        {% endif %}
	        {% endif %}
	    {% endif %}
	{% else %}
	    {% if uploader %}
			<div><b>UPLOADER!</b></div>
		{% else %}
		    <img src="http://placehold.it/718x400/222222&text=video" />
		{% endif %}
	{% endif %}

{% endmacro %}
